
<h1 class="sectionedit1" id="fier_d_etre_informaticien">Fier d&#039;être informaticien ?</h1>
<div class="level1">

<p>

<object width="395" height="395">
  <param name="movie" value="http://www.parleys.com/dist/share/parleysshare.swf"/>
  <param name="allowFullScreen" value="true"/>
  <param name="wmode" value="direct"/>
  <param name="bgcolor" value="#222222"/>
  <param name="flashVars" value="sv=true&amp;pageId=3345"/>
  <embed src="http://www.parleys.com/dist/share/parleysshare.swf" type="application/x-shockwave-flash" flashVars="sv=true&amp;pageId=3345" allowfullscreen="true" bgcolor="#222222" width="395" height="395"/>
</object>

</p>

</div>
<!-- EDIT1 SECTION "Fier d'être informaticien ?" [1-582] -->
<h1 class="sectionedit2" id="mes_musiques">Mes musiques</h1>
<div class="level1">

<p>

<iframe width="640" height="360" src="http://www.youtube.com/embed/JYzDp5JG9cY?list=PL6B687DD83D941664" frameborder="0" allowfullscreen></iframe>

</p>

</div>
<!-- EDIT2 SECTION "Mes musiques" [583-] -->