
<h1 class="sectionedit1" id="calabash">Calabash</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Calabash" [1-23] -->
<h2 class="sectionedit2" id="introduction">Introduction</h2>
<div class="level2">

<p>
<a href="http://blog.lesspainful.com/2012/03/07/Calabash/" class="urlextern" title="http://blog.lesspainful.com/2012/03/07/Calabash/"  rel="nofollow">Blog</a>
</p>

</div>
<!-- EDIT2 SECTION "Introduction" [24-] -->