
<h1 class="sectionedit1" id="gestion_des_modules_externes">Gestion des modules externes</h1>
<div class="level1">

<p>
Cette page vous permet de gérer tout ce qui a trait aux <a href="http://www.dokuwiki.org/fr%3Aplugins" class="interwiki iw_doku" title="http://www.dokuwiki.org/fr%3Aplugins">modules externes</a> de DokuWiki. Pour télécharger et installer un module, le répertoire « <code>plugin</code> » doit être accessible en écriture pour le serveur Web.
</p>

</div>
