
<h1 class="sectionedit1" id="une_version_plus_recente_existe_deja">Une version plus récente existe déjà</h1>
<div class="level1">

<p>
Une version plus récente du document que vous avez modifié existe déjà. Cela se produit lorsqu&#039;un autre utilisateur enregistre le document pendant que vous le modifiez.
</p>

<p>
Examinez attentivement les différences ci-dessous et décidez quelle version conserver. Si vous choisissez « Enregistrer », votre version sera enregistrée. Cliquez sur « Annuler » pour conserver la version actuelle.
</p>

</div>
