
<h1 class="sectionedit1" id="augmented_reality">Augmented reality</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Augmented reality" [1-33] -->
<h2 class="sectionedit2" id="article">Article</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> <a href="http://blog.makezine.com/2012/01/23/how-to-augmented-reality-with-processing/" class="urlextern" title="http://blog.makezine.com/2012/01/23/how-to-augmented-reality-with-processing/"  rel="nofollow">http://blog.makezine.com/2012/01/23/how-to-augmented-reality-with-processing/</a></div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "Article" [34-136] -->
<h2 class="sectionedit3" id="utilisable">Utilisable</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Android:<a href="http://android-france.fr/2009/11/02/developper-votre-application-de-realite-augmentee-avec-lapi-de-wikitude/" class="urlextern" title="http://android-france.fr/2009/11/02/developper-votre-application-de-realite-augmentee-avec-lapi-de-wikitude/"  rel="nofollow">http://android-france.fr/2009/11/02/developper-votre-application-de-realite-augmentee-avec-lapi-de-wikitude/</a></div>
</li>
<li class="level1"><div class="li"> Java:<a href="http://nyatla.jp/nyartoolkit/wp/?page_id=14" class="urlextern" title="http://nyatla.jp/nyartoolkit/wp/?page_id=14"  rel="nofollow">http://nyatla.jp/nyartoolkit/wp/?page_id=14</a></div>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "Utilisable" [137-337] -->
<h2 class="sectionedit4" id="tutorial">Tutorial</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Java 3D: <a href="http://www.newdawnsoftware.com/" class="urlextern" title="http://www.newdawnsoftware.com/"  rel="nofollow">http://www.newdawnsoftware.com/</a></div>
</li>
<li class="level1"><div class="li"> Processing/Animation/Graphics: <a href="http://processing.org/learning/" class="urlextern" title="http://processing.org/learning/"  rel="nofollow">http://processing.org/learning/</a> </div>
</li>
<li class="level1"><div class="li"> O&#039;Reilly: <a href="http://fivedots.coe.psu.ac.th/~ad/jg/" class="urlextern" title="http://fivedots.coe.psu.ac.th/~ad/jg/"  rel="nofollow">http://fivedots.coe.psu.ac.th/~ad/jg/</a></div>
</li>
<li class="level1"><div class="li"> AR/JAVA 3D: <a href="http://www.pushing-pixels.org/2009/07/02/project-marble-augmented-reality-in-java-with-jmf-java3d-nyartoolkit-and-trident.html" class="urlextern" title="http://www.pushing-pixels.org/2009/07/02/project-marble-augmented-reality-in-java-with-jmf-java3d-nyartoolkit-and-trident.html"  rel="nofollow">http://www.pushing-pixels.org/2009/07/02/project-marble-augmented-reality-in-java-with-jmf-java3d-nyartoolkit-and-trident.html</a></div>
</li>
</ol>
<ol>
<li class="level1"><div class="li"> NyARToolkit/Processing: <a href="http://www.creativeapplications.net/processing/augmented-reality-with-processing-tutorial-processing/" class="urlextern" title="http://www.creativeapplications.net/processing/augmented-reality-with-processing-tutorial-processing/"  rel="nofollow">http://www.creativeapplications.net/processing/augmented-reality-with-processing-tutorial-processing/</a></div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "Tutorial" [338-798] -->
<h2 class="sectionedit5" id="code_source">Code source</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> <a href="http://www.youtube.com/watch?v=wE1FS3810p8" class="urlextern" title="http://www.youtube.com/watch?v=wE1FS3810p8"  rel="nofollow">Youtube</a>, <a href="http://sourceforge.jp/projects/nyartoolkit/" class="urlextern" title="http://sourceforge.jp/projects/nyartoolkit/"  rel="nofollow">Source</a></div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "Code source" [799-941] -->
<h2 class="sectionedit6" id="httpnyatlajp">http://nyatla.jp</h2>
<div class="level2">

<p>
NyARToolkit
</p>
<ul>
<li class="level1"><div class="li"> Android: <a href="http://nyatla.jp/nyartoolkit/wp/?p=674" class="urlextern" title="http://nyatla.jp/nyartoolkit/wp/?p=674"  rel="nofollow">http://nyatla.jp/nyartoolkit/wp/?p=674</a></div>
</li>
<li class="level1"><div class="li"> Perfume: <a href="http://nyatla.jp/nyartoolkit/wp/?p=624" class="urlextern" title="http://nyatla.jp/nyartoolkit/wp/?p=624"  rel="nofollow">http://nyatla.jp/nyartoolkit/wp/?p=624</a></div>
</li>
<li class="level1"><div class="li"> Processing: <a href="http://nyatla.jp/nyartoolkit/wp/?p=455" class="urlextern" title="http://nyatla.jp/nyartoolkit/wp/?p=455"  rel="nofollow">http://nyatla.jp/nyartoolkit/wp/?p=455</a></div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "http://nyatla.jp" [942-] -->