
<h1 class="sectionedit1" id="recherche">Recherche</h1>
<div class="level1">

<p>
Voici les résultats de votre recherche. Si vous n&#039;avez pas trouvé ce que vous cherchiez, vous pouvez créer ou modifier la page correspondante à votre requête en cliquant sur le bouton approprié.
</p>

</div>
<!-- EDIT1 SECTION "Recherche" [1-227] -->
<h2 class="sectionedit2" id="resultats">Résultats</h2>
<div class="level2">

</div>
<!-- EDIT2 SECTION "Résultats" [228-] -->