
<h1 class="sectionedit1" id="mantis_dokuwiki">Mantis/DokuWiki</h1>
<div class="level1">

<p>
Recherche sur comment lier Mantis et Dokuwiki
</p>

</div>
<!-- EDIT1 SECTION "Mantis/DokuWiki" [1-79] -->
<h2 class="sectionedit2" id="easy">Easy</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Plug-in: <a href="https://www.dokuwiki.org/plugin:mantis?s[]=mantis" class="urlextern" title="https://www.dokuwiki.org/plugin:mantis?s[]=mantis"  rel="nofollow">Mantis project linker</a> » Syntaxe:{{Mantis&gt;project name}}</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Easy" [80-239] -->
<h2 class="sectionedit3" id="normal">Normal</h2>
<div class="level2">

<p>
Plug-in Doku pour mantis: 
<a href="http://www.mantisbt.org/wiki/doku.php/mantisbt:issue:7075:integration_with_dokuwiki" class="urlextern" title="http://www.mantisbt.org/wiki/doku.php/mantisbt:issue:7075:integration_with_dokuwiki"  rel="nofollow">Doc</a>
</p>

</div>
<!-- EDIT3 SECTION "Normal" [240-378] -->
<h2 class="sectionedit4" id="hard">Hard</h2>
<div class="level2">

<p>
<a href="http://www.mantisbt.org/wiki/doku.php?id=mantisbt:issue:8253" class="urlextern" title="http://www.mantisbt.org/wiki/doku.php?id=mantisbt:issue:8253"  rel="nofollow">Lier Mantis à wiki (session too)</a>
</p>

</div>
<!-- EDIT4 SECTION "Hard" [379-497] -->
<h3 class="sectionedit5" id="plug-in_interessant">Plug-in intéressant</h3>
<div class="level3">

<p>
\\<a href="http://deboutv.free.fr/mantis/plugin.php?plugin=Notif" class="urlextern" title="http://deboutv.free.fr/mantis/plugin.php?plugin=Notif"  rel="nofollow">Notif</a>: link mantis to skype/email
\\<a href="http://deboutv.free.fr/mantis/plugin.php?plugin=MyView" class="urlextern" title="http://deboutv.free.fr/mantis/plugin.php?plugin=MyView"  rel="nofollow">MyView</a>: Give to each user the possibility to change his view
\\<a href="http://deboutv.free.fr/mantis/plugin.php?plugin=Weekly" class="urlextern" title="http://deboutv.free.fr/mantis/plugin.php?plugin=Weekly"  rel="nofollow">Weekly</a>: Retourne des rapports toutes les semaines des bugs.
\\<a href="http://deboutv.free.fr/mantis/plugin.php?plugin=Wiki" class="urlextern" title="http://deboutv.free.fr/mantis/plugin.php?plugin=Wiki"  rel="nofollow">Wiki</a>: Gestion facile de wiki (??)
</p>

</div>
<!-- EDIT5 SECTION "Plug-in intéressant" [498-960] -->
<h3 class="sectionedit6" id="permettre_mantis_d_utiliser_de_l_html">Permettre Mantis d&#039;utiliser de l&#039;HTML</h3>
<div class="level3">

<p>
<a href="http://www.mantisbt.org/manual/manual.configuration.html.php" class="urlextern" title="http://www.mantisbt.org/manual/manual.configuration.html.php"  rel="nofollow">http://www.mantisbt.org/manual/manual.configuration.html.php</a>
</p>

</div>
<!-- EDIT6 SECTION "Permettre Mantis d'utiliser de l'HTML" [961-] -->