
<h1 class="sectionedit1" id="tuxar_-_java_-_note">TuxAR - Java - Note</h1>
<div class="level1">

<p>
WebCam:
</p>
<ol>
<li class="level1"><div class="li"> FMJ</div>
</li>
<li class="level1"><div class="li"> JavaCV</div>
</li>
</ol>

<p>
Augmened reality:
</p>
<ol>
<li class="level1"><div class="li"> NyARToolkit</div>
</li>
</ol>

<p>
Imaging:
</p>
<ol>
<li class="level1"><div class="li"> Processing</div>
</li>
</ol>

<p>
3D:
</p>
<ol>
<li class="level1"><div class="li"> Java3D</div>
</li>
<li class="level1"><div class="li"> JME3</div>
</li>
</ol>

<p>
Game logic:
</p>
<ol>
<li class="level1"><div class="li"> Baptiste project</div>
</li>
</ol>

</div>
