
<h1 class="sectionedit1" id="envoyer_un_nouveau_mot_de_passe">Envoyer un nouveau mot de passe</h1>
<div class="level1">

<p>
Veuillez compléter les champs ci-dessous pour obtenir un nouveau mot de passe pour votre compte dans ce wiki. Un lien de confirmation vous sera envoyé à l&#039;adresse de courriel utilisée lors de votre enregistrement.
</p>

</div>
