
<h1 class="sectionedit1" id="be_a_tester">Be a tester</h1>
<div class="level1">

<p>
Depuis peu de temps, j&#039;ai appris à être Tester Quality Assurance. Je ne connais pas encore les ficelles du métier,mais voici ce que j&#039;ai appris jusqu&#039;ici.
</p>

</div>
<!-- EDIT1 SECTION "Be a tester" [1-185] -->
<h2 class="sectionedit2" id="vocabulaire">Vocabulaire</h2>
<div class="level2">

<p>
release:Sortie de version<br/>

TDD:Test driven development<br/>

BDD:Behavior Driven Development<br/>

TBD:To be determine<br/>

HUD:Head up display (méta données sur l&#039;écran)<br/>

DoD:Definition of done<br/>

MileStone: Date de fin d&#039;un charte de travail<br/>

Asset: Ressources<br/>

Idle: Tourner au ralenti, rester inactif<br/>

Tiles: tuiles de jeu<br/>

</p>

</div>
<!-- EDIT2 SECTION "Vocabulaire" [186-536] -->
<h2 class="sectionedit3" id="references">Références</h2>
<div class="level2">

<p>
<a href="http://fr.wikipedia.org/wiki/M%C3%A9thode_du_canard_en_plastique" class="urlextern" title="http://fr.wikipedia.org/wiki/M%C3%A9thode_du_canard_en_plastique"  rel="nofollow">La technique du canard en plastique</a><br/>

<a href="http://fr.wikipedia.org/wiki/Loi_de_Murphy" class="urlextern" title="http://fr.wikipedia.org/wiki/Loi_de_Murphy"  rel="nofollow">Loi de Murphy (LEM)</a>
</p>

</div>
<!-- EDIT3 SECTION "Références" [537-736] -->
<h2 class="sectionedit4" id="your_job">Your job</h2>
<div class="level2">

<p>
<strong><em>PIANo TV</em></strong><br/>

P: Play<br/>

I: Identify<br/>

A: Amplify<br/>

N: Notify<br/>

o: optionally<br/>

</p>

<p>
T: Test <br/>

and<br/>

V: Verify<br/>

</p>

</div>
<!-- EDIT4 SECTION "Your job" [737-872] -->
<h2 class="sectionedit5" id="rules">Rules</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Do not panic</div>
</li>
<li class="level1"><div class="li"> Trust no one</div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "Rules" [873-924] -->
<h2 class="sectionedit6" id="tips">Tips</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Do not just play, study the game and try to remember about everything you can at every moment.</div>
</li>
<li class="level1"><div class="li"> Use the same vocabulaire as your coworker</div>
</li>
<li class="level1"><div class="li"> Be sure of what you notify, because you can lost a bit of your time but not the programmer that will fixe the bug</div>
</li>
<li class="level1"><div class="li"> Do not be afraid to asking you too mush questions and spoke about it with your cowoker when he is enable.</div>
</li>
</ol>

</div>
<!-- EDIT6 SECTION "Tips" [925-1314] -->
<h2 class="sectionedit7" id="phrases_toutes_faites">Phrases toutes faites</h2>
<div class="level2">

</div>
<!-- EDIT7 SECTION "Phrases toutes faites" [1315-1348] -->
<h3 class="sectionedit8" id="steps_to_reproduce">Steps to reproduce</h3>
<div class="level3">

</div>
<!-- EDIT8 SECTION "Steps to reproduce" [1349-1377] -->
<h3 class="sectionedit9" id="type_a">Type A</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> Start the game with any devices</div>
</li>
<li class="level1"><div class="li"> Select …</div>
</li>
<li class="level1"><div class="li"> …</div>
</li>
<li class="level1"><div class="li"> Observe that </div>
</li>
<li class="level1"><div class="li"> Notice that</div>
</li>
</ol>

</div>
<!-- EDIT9 SECTION "Type A" [1378-1487] -->
<h3 class="sectionedit10" id="type_b">Type B</h3>
<div class="level3">

<p>
Prerequisites:…<br/>

Steps: <br/>

</p>
<ol>
<li class="level1"><div class="li"> 1) The User launches X<br/>
</div>
</li>
<li class="level1"><div class="li"> 2) Selects Y<br/>
</div>
</li>
<li class="level1"><div class="li"> 3) Proceeds to Z<br/>
</div>
</li>
<li class="level1"><div class="li"> 4) …<br/>
</div>
</li>
</ol>

<p>
Bug(10/10): Description du bug.<br/>

</p>

</div>
<!-- EDIT10 SECTION "Type B" [1488-1653] -->
<h3 class="sectionedit11" id="short_sentences">Short sentences</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> Please refer to the attached screenshot for visual reference.</div>
</li>
<li class="level1"><div class="li"> Not fixed ⇒ same issue.</div>
</li>
<li class="level1"><div class="li"> Proceeds to the last section of the level</div>
</li>
<li class="level1"><div class="li"> Verified fixed</div>
</li>
</ul>

</div>
<!-- EDIT11 SECTION "Short sentences" [1654-] -->