
<h1 class="sectionedit1" id="gestionnaire_de_configuration">Gestionnaire de configuration</h1>
<div class="level1">

<p>
Utilisez cette page pour contrôler les paramètres de votre installation de DokuWiki. Pour de l&#039;aide sur chaque paramètre, reportez vous à <a href="http://www.dokuwiki.org/fr%3Aconfig" class="interwiki iw_doku" title="http://www.dokuwiki.org/fr%3Aconfig">fr:config</a>. Pour d&#039;autres détails concernant ce module, reportez vous à <a href="http://www.dokuwiki.org/fr%3Aplugin%3Aconfig" class="interwiki iw_doku" title="http://www.dokuwiki.org/fr%3Aplugin%3Aconfig">fr:plugin:config</a>.
</p>

<p>
Les paramètres affichés sur un fond rouge sont protégés et ne peuvent être modifiés avec ce module. Les paramètres affichés sur un fond bleu sont les valeurs par défaut et les valeurs affectées à votre installation sont affichées sur un fond blanc. Les paramètres bleus et blancs peuvent être modifiés.
</p>

<p>
N&#039;oubliez pas d&#039;utiliser le bouton <strong>Enregistrer</strong> avant de quitter cette page, sinon vos modifications seront perdues.
</p>

</div>
