
<h1 class="sectionedit1" id="demineur">Démineur</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Démineur" [1-27] -->
<h2 class="sectionedit2" id="conception">Conception</h2>
<div class="level2">

<p>
<a href="/documentation/doku.php?id=developement:projets:demineur:ideesdebase" class="wikilink1" title="developement:projets:demineur:ideesdebase">&lt;del&gt;Idées de base&lt;/del&gt;</a>
</p>

</div>
<!-- EDIT2 SECTION "Conception" [28-123] -->
<h2 class="sectionedit3" id="tests_qa">Tests QA</h2>
<div class="level2">

<p>
<del><a href="/documentation/doku.php?id=developement:projets:demineur:tests" class="wikilink2" title="developement:projets:demineur:tests" rel="nofollow">Tests</a></del>
</p>

</div>
<!-- EDIT3 SECTION "Tests QA" [124-202] -->
<h2 class="sectionedit4" id="programmation">Programmation</h2>
<div class="level2">

<p>
<del><a href="/documentation/doku.php?id=developement:projets:demineur:codes" class="wikilink2" title="developement:projets:demineur:codes" rel="nofollow">Codes</a></del>
</p>

</div>
<!-- EDIT4 SECTION "Programmation" [203-] -->