
<h1 class="sectionedit1" id="enquete_de_popularite">Enquête de popularité</h1>
<div class="level1">

<p>
Cet <a href="http://www.dokuwiki.org/popularity" class="interwiki iw_doku" title="http://www.dokuwiki.org/popularity">outil</a> collecte des données anonymes concernant votre wiki et vous permet de les expédier aux développeurs de DokuWiki. Ceci leur permet de mieux comprendre comment DokuWiki est employé par ses utilisateurs et d&#039;orienter les décisions sur les développements futurs en tenant compte des statistiques d&#039;usage réel.
</p>

<p>
Vous êtes encouragé à répéter l&#039;opération de collecte et d&#039;envoi des données anonymes de temps en temps afin d&#039;informer les développeurs de la croissance de votre wiki.
</p>

<p>
Les données collectées contiennent des informations telle que votre version de DokuWiki, le nombre et la taille de vos pages et fichiers, les modules installés ainsi que des informations sur la version de <abbr title="Hypertext Preprocessor">PHP</abbr> installée.
</p>

<p>
Les données brutes qui sont envoyées sont affichées ci dessous. Merci d&#039;utiliser le bouton « Envoyer les données » pour expédier l&#039;information.
</p>

</div>
