
<h1 class="sectionedit1" id="mantis">Mantis</h1>
<div class="level1">

<p>
<a href="http://www.mantisbt.org/manual/index.php" class="urlextern" title="http://www.mantisbt.org/manual/index.php"  rel="nofollow">Manuel</a>
</p>

</div>
<!-- EDIT1 SECTION "Mantis" [1-76] -->
<h2 class="sectionedit2" id="procedure_pour_changer_la_severites_dans_mantis_a_a_b_c_d">Procédure pour changer la sévérités dans Mantis à A,B,C,D:</h2>
<div class="level2">

<p>
<em><strong>Sources:</strong>
<a href="http://www.mantisbt.org/docs/master-1.2.x/en/administration_guide.html#ADMIN.CUSTOMIZE.ENUMS" class="urlextern" title="http://www.mantisbt.org/docs/master-1.2.x/en/administration_guide.html#ADMIN.CUSTOMIZE.ENUMS"  rel="nofollow">1</a>,
<a href="http://www.mantisbt.org/manual/manual.customizing.mantis.enumerations.php" class="urlextern" title="http://www.mantisbt.org/manual/manual.customizing.mantis.enumerations.php"  rel="nofollow">2</a></em>
</p>
<ul>
<li class="level1"><div class="li"> 1. Créez un fichier “custom_constants_inc.php” dans votre dossier /Mantis/</div>
</li>
<li class="level1"><div class="li"> 2. Dans ce fichier introduisez ce code:</div>
</li>
</ul>

<p>
&lt;?php define( &#039;A&#039;, 11); define( &#039;B&#039;, 22); define( &#039;C&#039;, 33); define( &#039;D&#039;, 44); ?&gt;
</p>
<ul>
<li class="level1"><div class="li"> 3. Créez un fichier “custom_strings_inc.php” dans votre dossier /Mantis/</div>
</li>
<li class="level1"><div class="li"> 4. Dans ce fichier introduisez ce code:</div>
</li>
</ul>

<p>
 &lt;?php $s_severity_enum_string = &#039;11:A,22:B,33:C,44:D&#039;; ?&gt;
</p>
<ul>
<li class="level1"><div class="li"> 5. Aller dans le fichier “config_inc.php” dans votre dossier /Mantis/</div>
</li>
<li class="level1"><div class="li"> 6. Dans ce fichier rechercher et remplacer:</div>
</li>
</ul>

<p>
 <em><strong>Remplacer:</strong></em> $g_severity_enum_string=&quot;...&quot;;
<em><strong>par</strong></em> $g_severity_enum_string= &#039;11:A,22:B,33:C,44:D&#039;;
</p>

<p>
De ce que j&#039;ai compris, <strong><em>custom_constants_inc.php</em></strong> Permet de définir nos propres constante dans le “logiciel” mantis (Attention de ne pas rentrer en conflit avec les existantes. C&#039;est pourquoi, j&#039;associe 11 et pas 10 par exemple.).
</p>

<p>
<strong><em>custom_strings_inc.php</em></strong> Permet de lier les variables à leurs définition de constante.
On aurait aussi pu ne pas créer ce fichier et directement aller changer les noms de constante dans <strong>/lang/string_english.txt</strong>. Cela aurait pour effet de ne changer la sévérité seulement pour l&#039;anglais. Laissant les autres langages à <strong>@11@,@22@,@33@,@44@</strong>
</p>

<p>
<strong><em> config_inc.php</em></strong> On change la logique du programme pour qu&#039;il adhère à notre nouvelle logique.
</p>

</div>
<!-- EDIT2 SECTION "Procédure pour changer la sévérités dans Mantis à A,B,C,D:" [77-] -->