
<h1 class="sectionedit1" id="mantis">Mantis</h1>
<div class="level1">

<p>
<a href="http://www.mantisbt.org/manual/index.php" class="urlextern" title="http://www.mantisbt.org/manual/index.php"  rel="nofollow">Manuel</a>,<a href="/Service/Doku/doku.php?id=docs:mantis:procedure" class="wikilink1" title="docs:mantis:procedure">Procédures d&#039;install/modification/reparation/upgrade</a>, <a href="http://bugtracker.morinie.fr/mantis/plugins_list_page.php" class="urlextern" title="http://bugtracker.morinie.fr/mantis/plugins_list_page.php"  rel="nofollow">plug-ins</a>, <a href="http://www.qsos.org/sheets/bugTracker/Mantis/mantis-1.0.6_fr.html" class="urlextern" title="http://www.qsos.org/sheets/bugTracker/Mantis/mantis-1.0.6_fr.html"  rel="nofollow">Evaluation of mantis</a>
</p>

</div>
<!-- EDIT1 SECTION "Mantis" [1-318] -->
<h3 class="sectionedit2" id="avis_d_utilisateurs">avis d&#039;utilisateurs</h3>
<div class="level3">

<p>
Source : <a href="http://wiki.aleikoum.net/index.php5?title=Mantis" class="urlextern" title="http://wiki.aleikoum.net/index.php5?title=Mantis"  rel="nofollow">1</a>
</p>

</div>
<!-- EDIT2 SECTION "avis d'utilisateurs" [319-412] -->
<h2 class="sectionedit3" id="plug-in">Plug-in</h2>
<div class="level2">

<p>
Source: <a href="http://bugtracker.morinie.fr/mantis/dokuwiki/doku.php?id=mantis:4:start" class="urlextern" title="http://bugtracker.morinie.fr/mantis/dokuwiki/doku.php?id=mantis:4:start"  rel="nofollow">1</a>,
Plug-in: <a href="http://deboutv.free.fr/mantis/download.php" class="urlextern" title="http://deboutv.free.fr/mantis/download.php"  rel="nofollow">liste</a>
</p>

</div>
<!-- EDIT3 SECTION "Plug-in" [413-585] -->
<h2 class="sectionedit4" id="soap">SOAP</h2>
<div class="level2">

<p>
Source: <a href="http://www.futureware.biz/mantisconnect/" class="urlextern" title="http://www.futureware.biz/mantisconnect/"  rel="nofollow">1</a>
</p>

<p>
Mantis est utilisable en Java par un lib fournie en <abbr title="Simple Object Access Protocol">SOAP</abbr>.
</p>

</div>
<!-- EDIT4 SECTION "SOAP" [586-718] -->
<h2 class="sectionedit5" id="css_themes">CSS themes</h2>
<div class="level2">

<p>
Soruce: <a href="http://www.mantisbt.org/forums/viewtopic.php?f=4&amp;t=20126" class="urlextern" title="http://www.mantisbt.org/forums/viewtopic.php?f=4&amp;t=20126"  rel="nofollow">1</a> <a href="http://bt.xoftwee.com/mantis/default.css" class="urlextern" title="http://bt.xoftwee.com/mantis/default.css"  rel="nofollow">2</a>
</p>

</div>
<!-- EDIT5 SECTION "CSS themes" [719-860] -->
<h2 class="sectionedit6" id="personnalisation">Personnalisation</h2>
<div class="level2">

<p>
Source: <a href="http://www.commentcamarche.net/faq/16960-personnalisation-de-mantis-bt" class="urlextern" title="http://www.commentcamarche.net/faq/16960-personnalisation-de-mantis-bt"  rel="nofollow">change MYVIEW FIELDS</a>
</p>

<p>
Intégrer un chat: <a href="http://www.mantisbt.org/wiki/doku.php/mantisbt:phpfreechat" class="urlextern" title="http://www.mantisbt.org/wiki/doku.php/mantisbt:phpfreechat"  rel="nofollow">1</a>
</p>

</div>
<!-- EDIT6 SECTION "Personnalisation" [861-1080] -->
<h2 class="sectionedit7" id="config_incphp">config_inc.php</h2>
<div class="level2">

<p>
Source:<a href="http://symfo.web.fc2.com/mantis-doc/elementindex_MantisBT.html#g" class="urlextern" title="http://symfo.web.fc2.com/mantis-doc/elementindex_MantisBT.html#g"  rel="nofollow">1</a>
</p>
<pre class="code">

	 // /*
	$g_hostname = &#039;localhost&#039;;
	$g_db_type = &#039;mysql&#039;;
	$g_database_name = &#039;bugtracker&#039;;
	$g_db_username = &#039;root&#039;;
	$g_db_password = &#039;&#039;;
	
	 // =&gt; Permet de changer les sévérités d&#039;une issue
$g_severity_enum_string = &#039;11:A,22:B,33:C,44:D&#039;;
     // =&gt; Permet d&#039;intégrer des liens &lt;a&gt;
$g_html_make_links      = ON;
      //=&gt; Permet d&#039;intégrer des balises HTML 
$g_html_valid_tags      = &#039;a, p, li, ul, ol, br, pre, i,strong, b, u, em&#039;;
      //=&gt; Définit l&#039;adresse de l&#039;administrateur
$g_administrator_email=&quot;streeeloi@gmail.com&quot;; 
      //=&gt; Définit l&#039;adresse du webmaster
$g_webmaster_email=&quot;streeeloi@gmail.com&quot;;
      //=&gt; Définit la source des emails envoyés par Mantis aux utilisateurs
$g_from_email=&quot;streeeloi@gmail.com&quot;;
$g_from_name=&quot;Strée Eloi&quot;;
//=&gt; Définit le nom de la fenêtre
$g_window_title =&#039;GKA Mantis&#039;;
	//=&gt; Rajouter un item dans le menu
$g_main_menu_custom_options = array( 
array( &quot;Newbie&quot;, VIEWER, &#039;newbie.php&#039; )
,array( &quot;Chat&quot;, VIEWER, &#039;chat_page.php&#039; )
//, array( &quot;DokuWiki&quot;, VIEWER, &#039;/Service/Doku/&#039; ) 
 ); 
  //=&gt; Définit le status de départ d&#039;une issue
 $g_bug_submit_status =CONFIRMED;

 
 //////////////////////////Test/////////////////
 //=&gt; Définit le status de départ d&#039;une issue
 $g_bug_submit_status =CONFIRMED;
 
 //=&gt; Permet de personnaliser le top de la page avec son propre code php
 //=&gt; créer une page .php avec les données voulues&lt;html&gt;&lt;head&gt;&lt;/head&gt;&lt;body&gt;...&lt;/body&gt;&lt;/html&gt;
$g_top_include_page=&#039;%absolute_path%/top_custom_header.php&#039;;
 //=&gt; Définir l&#039;icone associer aux pages
//$g_icon_path =&#039;../../Style/Mantis/ xxx&#039;;
//=&gt; Définir l&#039;image du logo au top sur le site web
//$g_logo_image =&#039;../../Style/Mantis/mantis_logo.PNG&#039;;
//=&gt; Définir ou l&#039;utilisateur est rediriger si il l&#039;active
//$g_logo_url =&#039;http://www.gamerkitapplication.be&#039;;
//=&gt; Permet de voir le menu en bas de page aussi
// $g_show_footer_menu=ON;

//=&gt; Définit le titre afficher en haut du body de la page
// $g_page_title=&quot;GKA - Mantis&quot;;

/////////wiki////
//$t_protocol . &#039;://&#039; . $t_host . &#039;/%wiki_engine%/&#039;
// Fais apparaitre un onglet wiki
$g_wiki_enable = ON;
// Définit de quels types est le wiki pour gérer les liens d&#039;entrées.
$g_wiki_engine = &#039;dokuwiki&#039;;
// Url du wiki sur le seveur
$g_wiki_engine_url =&#039;/Service/Doku/&#039;; 
// définit le namespace d&#039;arrivée par defaut 
 $g_wiki_root_namespace =&#039;bugs&#039;;
===== A tester =====


        $g_status_colors
    in file config_defaults_inc.php, global variable $g_status_colors
        status color codes, using the Tango color palette
        
        $g_top_include_page
    in file config_defaults_inc.php, global variable $g_top_include_page
        Specify your top/bottom include file (logos, banners, etc)
        
        $g_bug_submit_status
    in file config_defaults_inc.php, global variable $g_bug_submit_status
        Status to assign to the bug when submitted.


        $g_allowed_files
    in file config_defaults_inc.php, global variable $g_allowed_files
        Files that are allowed or not allowed. Separate items by commas.


        $g_allow_anonymous_login
    in file config_defaults_inc.php, global variable $g_allow_anonymous_login
        Enable anonymous access to Mantis. You must also specify $g_anonymous_account as the account which anonymous users will browse Mantis with. The default setting is OFF.
        
        $g_anonymous_account
    in file config_defaults_inc.php, global variable $g_anonymous_account
        Define the account which anonymous users will assume when using Mantis.
        
        $g_bug_link_tag
    in file config_defaults_inc.php, global variable $g_bug_link_tag
        Bug Linking if a number follows this tag it will create a link to a bug.
        
        $g_calendar_date_format
    in file config_defaults_inc.php, global variable $g_calendar_date_format
        jscalendar date format string
        
        $g_css_include_file
    in file config_defaults_inc.php, global variable $g_css_include_file
        CSS file
        
        $g_custom_headers
    in file config_defaults_inc.php, global variable $g_custom_headers
        An array of headers to be sent with each page.
        
        $g_from_email
    in file config_defaults_inc.php, global variable $g_from_email
        the sender email, part of &#039;From: &#039; header in emails
        $g_from_name
    in file config_defaults_inc.php, global variable $g_from_name
        the sender name, part of &#039;From: &#039; header in emails
        
        $g_icon_path
    in file config_defaults_inc.php, global variable $g_icon_path
        path to your images directory (for icons)
        
        $g_logo_image
    in file config_defaults_inc.php, global variable $g_logo_image
        Logo
        $g_logo_url
    in file config_defaults_inc.php, global variable $g_logo_url
        Logo URL link
        
        $g_main_menu_custom_options
    in file config_defaults_inc.php, global variable $g_main_menu_custom_options
        Add custom options to the main menu. For example:
        
        $g_page_title
    in file config_defaults_inc.php, global variable $g_page_title
        title at top of html page (empty by default, since there is a logo now)
        $g_show_footer_menu
    in file config_defaults_inc.php, global variable $g_show_footer_menu
        Display another instance of the menu at the bottom. The top menu will still remain.
        
        $g_show_realname
    in file config_defaults_inc.php, global variable $g_show_realname
        show users with their real name or not
        
        
        ==== ??? ====
        === Twitter ===

        $g_twitter_password
    in file config_defaults_inc.php, global variable $g_twitter_password
        The twitter account password.
$g_twitter_username
    in file config_defaults_inc.php, global variable $g_twitter_username
        The integration with twitter allows for a MantisBT installation to post updates to a twitter account. This feature will be disabled if username is empty or if the curl extension is not enabled.

=== Wiki ===
$g_wiki_enable
    in file config_defaults_inc.php, global variable $g_wiki_enable
        Wiki Integration Enabled?
$g_wiki_engine
    in file config_defaults_inc.php, global variable $g_wiki_engine
        Wiki Engine (supported engines: &#039;dokuwiki&#039;, &#039;mediawiki&#039;, &#039;twiki&#039;, &#039;wikka&#039;, &#039;xwiki&#039;)
$g_wiki_engine_url
    in file config_defaults_inc.php, global variable $g_wiki_engine_url
        URL under which the wiki engine is hosted. Must be on the same server.
$g_wiki_root_namespace
    in file config_defaults_inc.php, global variable $g_wiki_root_namespace
        Wiki namespace to be used as root for all pages relating to this MantisBT installation.
</pre>

</div>
<!-- EDIT7 SECTION "config_inc.php" [1081-] -->