@import url('mycss.css');
html
{
	margin: 0;
	padding: 0;
	height: 100%;
background: #000000 url("/Style/Main/backGround.jpg") top no-repeat fixed;

}
.minorMessage{  color:#555555; font-size:0.8em; padding-left:10px;}
td {
/*background: #EEFFEE;
*/border-radius: 4px;



}
body {
	margin:20px;
	padding:5px;
	min-width:840px;
	
border-radius: 4px;
opacity:0.9;
border: 1px solid black;

	background-color: #ffffff;
	color: #000000;
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	
	
	
	
}

p 					{ font-family: Verdana, Arial, Helvetica, sans-serif; }

address 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt }

pre				{ margin-top: 0px; margin-bottom: 0px; }

a					{}
a:active 			{}
a:link    			{}
a:visited 			{}
a.subtle			{ color: blue; text-decoration: none; }
a.resolved			{ text-decoration: line-through underline; }
a > img				{ border: none; }


 table.width100 tbody tr td.menu a
{font-size:0.8em;}
/*Main*/
 table.width100 tbody tr td.menu a[href$="main_page.php"]
{ color:black;font-size:0.9em;}
/*My View,View Issues, Report Issue*/
 table.width100 tbody tr td.menu a[href$="my_view_page.php"], table.width100 tbody tr td.menu a[href$="view_all_bug_page.php"], table.width100 tbody tr td.menu a[href$="bug_report_page.php"]
{ color:purple;font-size:1.3em;}

/*Change Log, RoadMap*/
 table.width100 tbody tr td.menu a[href$="changelog_page.php"], table.width100 tbody tr td.menu a[href$="roadmap_page.php"]
{ color:#004400;font-size:1.2em;}

/*Manage, My Account*/

/*Log out*/
 table.width100 tbody tr td.menu a[href$="logout_page.php"]
{ color:#660000;}
/*Newbie*/
 table.width100 tbody tr td.menu a[href$="newbie.php"]
{ color:black;}
/*Wiki link*/
 a[href^="wiki.php?id="]
{ padding-left:22px; background: no-repeat url("/Style/Mantis/logo_dokuwiki.png") left ;font-size:1.2em;}

h1{color:#000000;margin-left:1px;} h2{color:#444444;margin-left:4px;} h3{color:#666666;margin-left:8px;} h4{color:#999999;margin-left:12px;} h5{color:#AAAAAA;margin-left:16px;} h6{color:#BBBBBB;margin-left:20px;}


form				{ display: inline; }

input[type=text],
input[type=password],
textarea,
select {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(top, #ffffff, #eeeeee);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -ms-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    border: solid 1px #d1d1d1;
    outline: 0;
    padding: 6px;
}
input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    border-color: #c1c1c1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}
input.button,
input.button-small {
    background-color:#666;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#999 0%), to(#7b7b7b 50%));
    background-image:-webkit-linear-gradient(top, #999 0%, #7b7b7b 50%, #666 50%, #666 100%);
    background-image: -moz-linear-gradient(top #999 0%, #7b7b7b 50%, #666 50%, #666 100%);
    background-image: -ms-linear-gradient(top, #999 0%, #7b7b7b 50%, #666 50%, #666 100%);
    background-image: -o-linear-gradient(top, #999 0%, #7b7b7b 50%, #666 50%, #666 100%);
    background-image: linear-gradient(top, #999 0%, #7b7b7b 50%, #666 50%, #666 100%);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(#111111, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(#111111, 0, 0, 0.1) 0px 0px 8px;
    -ms-box-shadow: rgba(#111111, 0, 0, 0.1) 0px 0px 8px;
    -o-box-shadow: rgba(#111111, 0, 0, 0.1) 0px 0px 8px;
    box-shadow: rgba(#111111, 0, 0, 0.1) 0px 0px 8px;
    border: 1px solid #080808;
    color: #fff;
    line-height: 1;
    margin: 0;
    padding: 6px 10px;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
}
input.button:hover,
input.button-small:hover {
    background-color:#6e6e6e;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#6e6e6e 0%), to(#555555 50%));
    background-image:-webkit-linear-gradient(top, #6e6e6e 0%, #555555 50%, #484848 50%, #484848 100%);
    background-image:-moz-linear-gradient(top #6e6e6e 0%, #555555 50%, #484848 50%, #484848 100%);
    background-image:-ms-linear-gradient(top, #6e6e6e 0%, #555555 50%, #484848 50%, #484848 100%);
    background-image:-o-linear-gradient(top, #6e6e6e 0%, #555555 50%, #484848 50%, #484848 100%);
    background-image:linear-gradient(top, #6e6e6e 0%, #555555 50%, #484848 50%, #484848 100%);
    cursor: pointer;
}
input.button:active,
input.button-small:active {
    background-color:#484848;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#484848 0%), to(#484848 50%));
    background-image:-webkit-linear-gradient(top, #484848 0%, #484848 50%, #3b3b3b 50%, #3b3b3b 100%);
    background-image:-moz-linear-gradient(top #484848 0%, #484848 50%, #3b3b3b 50%, #3b3b3b 100%);
    background-image:-ms-linear-gradient(top, #484848 0%, #484848 50%, #3b3b3b 50%, #3b3b3b 100%);
    background-image:-o-linear-gradient(top, #484848 0%, #484848 50%, #3b3b3b 50%, #3b3b3b 100%);
    background-image:linear-gradient(top, #484848 0%, #484848 50%, #3b3b3b 50%, #3b3b3b 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

input.button-small {
    font-size: 8pt;
    padding: 6px 6px;
}

textarea            {}
select				{}

span				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
span.print			{ font-size: 8pt; }
span.required 		{ font-size: 8pt; color: #bb0000; }
span.small 			{ font-size: 8pt; font-weight: normal; }
span.pagetitle		{ font-size: 12pt; font-weight: bold; text-align: center }
span.bracket-link	{ font-family: 'Oswald'; white-space: nowrap; }
span.bracket-link a { text-decoration: none; }
span.dependency_dated		{ color: brown; }
span.dependency_met			{ color: green; }
span.dependency_unmet		{ color: red; }
span.dependency_upgrade		{ color: orange; }

table				{
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}
table.hide			{ width: 100%; border: solid 0px #ffffff; }

table.width100,
table.width90,
table.width75,
table.width60,
table.width50 {
    border: solid 1px #777;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
table.width100		{ width: 100%; }
table.width90		{ width: 90%; }
table.width75		{ width: 75%; }
table.width60		{ width: 60%; }
table.width50		{ width: 50%; }

table.width50 tr:first-child, table.width75 tr:first-child {
    background-color: #d0cecf;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#cfcdce));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: -moz-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: -ms-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: -o-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: linear-gradient(top, #fdfdfd, #cfcdce);
}
table.width100 tr:first-child td:first-child,
table.width90 tr:first-child td:first-child,
table.width75 tr:first-child td:first-child,
table.width60 tr:first-child td:first-child,
table.width50 tr:first-child td:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
table.width100 tr:first-child td:last-child,
table.width90 tr:first-child td:last-child,
table.width75 tr:first-child td:last-child,
table.width60 tr:first-child td:last-child,
table.width50 tr:first-child td:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
table.width100 tr:last-child td:first-child,
table.width90 tr:last-child td:first-child,
table.width75 tr:last-child td:first-child,
table.width60 tr:last-child td:first-child,
table.width50 tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
table.width100 tr:last-child td:last-child,
table.width90 tr:last-child td:last-child,
table.width75 tr:last-child td:last-child,
table.width60 tr:last-child td:last-child,
table.width50 tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
table.width100 tr:first-child td:only-child,
table.width90 tr:first-child td:only-child,
table.width75 tr:first-child td:only-child,
table.width60 tr:first-child td:only-child,
table.width50 tr:first-child td:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
table.width100 tr:only-child td:first-child,
table.width90 tr:only-child td:first-child,
table.width75 tr:only-child td:first-child,
table.width60 tr:only-child td:first-child,
table.width50 tr:only-child td:first-child {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}
table.width100 tr:only-child td:last-child,
table.width90 tr:only-child td:last-child,
table.width75 tr:only-child td:last-child,
table.width60 tr:only-child td:last-child,
table.width50 tr:only-child td:last-child {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
table.width100 tr:only-child td:only-child,
table.width90 tr:only-child td:only-child,
table.width75 tr:only-child td:only-child,
table.width60 tr:only-child td:only-child,
table.width50 tr:only-child td:only-child {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
td 					{ font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; padding: 4px; text-align: left; }
td.center			{ text-align: center; }
td.left				{ text-align: left; }
td.right			{ text-align: right; }
td.category			{ background-color: #B1ECB1; border-right: 1px solid #999; color: #000000; font-weight: bold; vertical-align : top; }
td.category:last-child { border-right: none; }
td.category2		{ background-color: #6E6D6D; color: #f9f9f9; }
td.category2 a		{ color: #f9f9f9; font-weight: bold; }
#show_sort_filter, #project_id_filter	{ background-color: #6E6D6D; display:block; width:100%; height:100%; padding:; color: #f9f9f9; font-weight: bold; padding-bottom:2px; }
td.overdue			{ background-color: #ff0000; color: #000000; font-weight: bold; }

td.col-1			{ background-color: #d8d8d8; color: #000000; }
td.col-2			{ background-color: #e8e8e8; color: #000000; }
td.form-title		{
    background-color: #d0cecf;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#cfcdce));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: -moz-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: -ms-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: -o-linear-gradient(top, #fdfdfd, #cfcdce);
    background-image: linear-gradient(top, #fdfdfd, #cfcdce);
    border-bottom: 1px solid #999;
    color: #000;
    font: 12pt 'Oswald', Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    height:26px;
}
tr:last-child td.form-title {
    border-bottom: none;
}
td.form-title-caps	{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: left; text-transform: uppercase; }
td.nopad			{ padding: 0px; }
td.small-caption	{ font-size: 8pt; }
td.print			{ font-size: 8pt; text-align: left; padding: 2px; }
td.print-category	{ font-size: 8pt; color: #000000; font-weight: bold; text-align: right; padding: 2px; }
td.print-overdue	{ font-size: 8pt; color: #000000; font-weight: bold; padding: 2px; }
td.print-bottom		{ border-bottom: 1px solid #000000; }
td.print-spacer		{ background-color: #ffffff; color: #000000; font-size: 1pt; line-height: 0.1; padding: 0px;}

tr					{}
tr.spacer   		{ background-color: #ffffff; color: #000000; height: 5px; }
tr.spacer td		{ border-bottom: 1px solid #999; border-top: 1px solid #999; }
tr.row-1			{ background-color: #d8d8d8; color: #000000; }
tr.row-1 td         { border-bottom: 1px solid #999; border-right: 1px solid #999; }
tr.row-1 td:last-child { border-right: none; }
tr.row-1:last-child td { border-bottom: none; }
tr.row-2			{ background-color: #e8e8e8; color: #000000; }
tr.row-2 td			{ border-bottom: 1px solid #999; border-right: 1px solid #999; }
tr.row-2 td:last-child { border-right: none; }
tr.row-2:last-child td { border-bottom: none; }
tr.row-1 + tr.spacer td,
tr.row-2 + tr.spacer td { border-top: none; }
tr.row-category		{ background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category td  { background-color: #ddd; color: #333; text-align:center; border:1px #ccc solid; }
tr.row-category td a{ color: #333; }
tr.row-category2	{ background-color: #6E6D6D; color: #f9f9f9; }
tr.row-category2 td { border-right: 1px solid #555; }
tr.row-category2 td:last-child { border-right: none; }
tr.row-category2 a	{ color: #f9f9f9; font-weight: bold; }
tr.row-category-history { background-color: #B1ECB1; color: #000000; font-weight: bold;}
tr.row-category-history td {  text-align: left; }
tr.vcenter			{ vertical-align: middle; }
tr.print			{ vertical-align: top; }
tr.print-category	{ color: #000000; font-weight: bold; }

#buglist tr			{ text-align: center; }

td.bugnote-public		{ background-color: #c8c8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; vertical-align: top; }
td.bugnote-private		{ background-color: #e8e8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; vertical-align: top; }
td.bugnote-note-public	{ background-color: #e8e8e8; color: #000000; width: 75%; vertical-align: top; }
td.bugnote-note-private	{ background-color: #e8e8e8; color: #000000; width: 75%; vertical-align: top; }

td.login-info-left		{ width: 33%; padding: 0px; text-align: left; }
td.login-info-middle	{ width: 33%; padding: 0px; text-align: center; display:none; }
td.login-info-right		{ width: 33%; padding: 0px; text-align: right; white-space: nowrap; }
td.login-info-left,
td.login-info-right {
    font-family: 'Oswald', Verdana, Arial, Helvetica, sans-serif;
}
td.login-info-left span {
    font-family: 'Oswald', Verdana, Arial, Helvetica, sans-serif;
}
td.login-info-left span.small {
    color: #666;
    font-size: 9pt;
}
td.login-info-middle span.italic {
    font: 12pt 'Oswald', Verdana, Arial, Helvetica, sans-serif;
}

td.menu
{
	background-color: #d0cecf;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#d0cecf));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #d0cecf);
    background-image: -moz-linear-gradient(top, #fdfdfd, #d0cecf);
    background-image: -ms-linear-gradient(top, #fdfdfd, #d0cecf);
    background-image: -o-linear-gradient(top, #fdfdfd, #d0cecf);
    background-image: linear-gradient(top, #fdfdfd, #d0cecf);
	color: #000;
	font-family: 'Oswald', Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	width: 100%;
	height:20px;
	padding: 5px;
}
td.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
td.menu li {
    border-right: 1px solid #333;
    float: left;
    padding: 0 8px;
}
td.menu li:first-child {
    padding-left: 0;
}
td.menu li:last-child {
    border: none;
    padding-right: 0;
}

td.menu a
{
	color:#333;
	font-size:16px;
	font-weight:normal;
	white-space: nowrap;
	text-decoration:none;
}
td.menu a:hover
{
	text-decoration:none;
}

td.menu form:first-child input[type=submit] { background:#eee url('../images/skin/search_submit.jpg') no-repeat; font-size: 0; color:transparent; width:16px; height:16px; border:0; vertical-align:super; cursor: pointer; }

td.news-heading-public	{ background-color: #c8c8e8; color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-heading-private	{ background-color: #d8d8d8;       color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-body			{ background-color: #ffffff;         color: #000000; padding: 16px; }

img						{}
img.icon				{ width: 11px; height: 11px; }
img.delete-icon			{ position: relative; top: 5px; border: 0; }

div						{ padding: 3px; }
div.menu				{ background-color: #e8e8e8; color: #000000; text-align: center; width: 100%; padding: 1px; }

div.center {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

div.border
{
	background-color: #ffffff;
	border: solid 1px #000000;
	text-align: center;
	position: relative;
}

div.quick-summary-left	{ width: 49%; padding: 2px; text-align: left;  float: left; }
div.quick-summary-right	{ width: 49%; padding: 2px; text-align: right; float: right;}

.center					{ text-align: center; }
.left					{ text-align: left; }
.right					{ text-align: right; }
.floatright				{ float: right; }
.floatleft				{ float: left; }
.small					{ font-size: 8pt; }
.small-normal 			{ font-size: 8pt; font-weight: normal; }
.small-subprojects		{ font-size: 8pt; width: 200px; }
.bold					{ font-weight: bold; }
.bold-small				{ font-weight: bold; font-size: 8pt; }
.italic					{ font-style: italic; }
.italic-small			{ font-style: italic; font-size: 8pt; }
.underline				{ text-decoration: underline; }
.underline-small		{ text-decoration: underline; font-size: 8pt; }
.strike					{ text-decoration: line-through; }
.strike-small			{ text-decoration: line-through; font-size: 8pt; }
.hidden				{ display: none; }

.nowrap
{
	white-space: nowrap;
}

.positive
{
	color: green;
}

.negative
{
	color: red;
}

.issue-status
{
	border-bottom: 1px dotted black;
}

.avatar
{
	float: right;
	border: 0;
}

.progress400				{ position: relative; width: 400px; border: 1px solid #d7d7d7; margin-top: 1em; margin-bottom: 1em; padding: 1px; }
.progress400 .bar			{ display: block; position: relative; background: #6bba70; text-align: center; font-weight: normal; color: #333; height: 2em; line-height: 2em; }
