/*Here i can add the css i want to add to Mantis*/


a#reporter_id_filter, a#user_monitor_filter,a#handler_id_filter ,a#show_category_filter,a#show_severity_filter
{
font-size:1.2em;
color:#BBFFBB;
}


#project_crash{

opacity:0.8;
border:solid #220000 1px;
border-radius: 15px;
min-width:100px;
min-height:50px;
margin:auto;
background: #FFAAAA url("/Style/Mantis/warning.png") no-repeat top right;

}

#project_crash_names{
display: inline-block;
background-color:red;
font-size:18px;
opacity:0.9;
height: 22px;
min-width:20px;
padding:5px;

border:solid #440000 1px;
border-radius: 10px;}

#project_crash_messsage{
display: block;
}


.hiddenIfNoJavaScript
{
display: none;
}


