
<h1 class="sectionedit1" id="comment_gagner_de_l_argent_sur_le_jeu">Comment gagner de l&#039;argent sur le jeu ?</h1>
<div class="level1">

<p>
 Permettre de jouer au jeu gratuitement et de faire ce qu&#039;il veut pour la personnalisation.
Mais une fois qu&#039;il veut des statistics, être dans le classement, pouvoir afficher son deck en public… il devra faire passer son deck officiellement ça lui coutera 50 cents.
</p>

<p>
En gros, l&#039;on veut que le joueur s&#039;amuse libre comme l&#039;air à faire son armée. Et qu&#039;une fois qu&#039;il veut jouer pour de vrai et voir ce qu&#039;est vraiment son armée, il la joue en classée.
</p>

</div>
<!-- EDIT1 SECTION "Comment gagner de l'argent sur le jeu ?" [1-516] -->
<h1 class="sectionedit2" id="qu_es_ce_que_je_veux_faire_revivre_dans_mon_jeu_au_joueur">Qu&#039;es ce que je veux faire revivre dans mon jeu au joueur</h1>
<div class="level1">
<ol>
<li class="level1"><div class="li"> Magic: le sentiment que l&#039;on a à passer du temps à regarder les possibilitées et de ce dire “Quand je vais jouer contre lui, je vais lui mettre la patée, il va être dégouté Ha haaha ha ha”.</div>
</li>
</ol>
<ol>
<li class="level1"><div class="li"> Hidden and dangerous&gt;&lt; heroes of might and magic: passer outre la frustration d&#039;avoir des unités et de ne pas pouvoir les gérées ou de devoir faire attendre 2 heures les autres leur pour. L&#039;idée serait d&#039;apporter une gestion d&#039;intelligence artificiel programmer selon ses désirs. Il y aurait plusieurs niveau à cela:<br/>
  </div>
</li>
</ol>
<ul>
<li class="level1"><div class="li"> A: Le joueur peut déplacer virtuellement ses troupes en attendant son tour et les activer une fois que c&#039;est son tour si il est toujours d&#039;accord.</div>
</li>
<li class="level1"><div class="li"> B: Le joueur à l&#039;aide d&#039;un interface donnes des instructions à ses unitées avant de jouer une partie. Dans la partie une fois que ce n&#039;est plus son tour, les unitées lui porpose des chemin à suivre.</div>
</li>
<li class="level1"><div class="li"> C: Le joueur à passer beaucoup de temps sur l&#039;IA personnalisée et propose de jouer une partie entant qu&#039;IA, il ne pourra qu&#039;observe ce que fait son armée et lancer des sorts et des ordres indirect (flag: defcom, drapeau) En gros il devient commandeur et non plus officiel.</div>
</li>
<li class="level1"><div class="li"> D,Special: une classe est offert au joueur et  il peut programmer sa propre intelligence artificial à partir des bibliothèques du jeu qui lui seront fournit.</div>
</li>
</ul>
<ol>
<li class="level1"><div class="li"> 3D: Ce qui serait cool à apporter serait de jouer sur son écran et avec un support de voir en Réalitée auguementée l&#039;armée ce déplacer. Sur le côté. ( une autre application dépendant de TuxDom. Le but serait vraiment de donnéer le même sentiment qu&#039;au échec ou l&#039;on peut tourner autour de son arméer et observer. Commme pour une vidéo holographique.</div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "Qu'es ce que je veux faire revivre dans mon jeu au joueur" [517-] -->