
<h1 class="sectionedit1" id="tavern">Tavern</h1>
<div class="level1">

<p>
Serveur: 178.170.111.64<br/>

Service: <a href="http://178.170.111.64/phpmyadmin/" class="urlextern" title="http://178.170.111.64/phpmyadmin/"  rel="nofollow">phpMyAdmin</a>
</p>

<p>
TS3: 178.170.111.64 (<a href="http://www.teamspeak.com/?page=downloads" class="urlextern" title="http://www.teamspeak.com/?page=downloads"  rel="nofollow">download</a>)
<br/>
<a href="http://www.tsviewer.com/index.php?page=ts_viewer&ID=1002099" target="_blank"><img src="http://www.tsviewer.com/promotion/dynamic_sig/sig.php/clan468x60_freel/1002099.png" alt="Les Raclures TeamSpeak Viewer" title="Les Raclures TeamSpeak Viewer" border="0" /></a>

</p>

<p>
Site web: <a href="http://www.gamerkitapplication.be/mantis/" class="urlextern" title="http://www.gamerkitapplication.be/mantis/"  rel="nofollow">Mantis</a>, <a href="http://www.gamerkitapplication.be/" class="urlextern" title="http://www.gamerkitapplication.be/"  rel="nofollow">GKA</a>,<a href="http://www.gamerkitapplication.be/documentation/" class="urlextern" title="http://www.gamerkitapplication.be/documentation/"  rel="nofollow"> Wiki</a>, <a href="http://178.170.111.64/" class="urlextern" title="http://178.170.111.64/"  rel="nofollow">TuxDom</a>.
</p>

<p>
GitHub: <a href="https://github.com/VgQD/VgQD" class="urlextern" title="https://github.com/VgQD/VgQD"  rel="nofollow">VgQD</a> (Eloi&#039;s projects)
</p>

<p>
Facebook: <a href="https://www.facebook.com/groups/378799295489890/" class="urlextern" title="https://www.facebook.com/groups/378799295489890/"  rel="nofollow">TuxDomination</a>
</p>

</div>
