
<h1 class="sectionedit1" id="idees_de_base_du_projet_demineur">Idées de base du projet démineur</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "Idées de base du projet démineur" [1-51] -->
<h2 class="sectionedit2" id="composant">composant</h2>
<div class="level2">

</div>
<!-- EDIT2 SECTION "composant" [52-74] -->
<h3 class="sectionedit3" id="heros">Heros</h3>
<div class="level3">

</div>
<!-- EDIT3 SECTION "Heros" [75-92] -->
<h3 class="sectionedit4" id="enemy">Enemy</h3>
<div class="level3">

</div>

<h4 id="mines">Mines</h4>
<div class="level4">

<p>
<a href="/documentation/doku.php?id=developement:projets:demineur:mines" class="wikilink2" title="developement:projets:demineur:mines" rel="nofollow">Mines</a>
</p>

</div>

<h4 id="personnages">¨Personnages</h4>
<div class="level4">

</div>
<!-- EDIT4 SECTION "Enemy" [93-193] -->
<h3 class="sectionedit5" id="ally">Ally</h3>
<div class="level3">

</div>
<!-- EDIT5 SECTION "Ally" [194-] -->