
<h1 class="sectionedit1" id="gestionnaire_de_reversions">Gestionnaire de réversions</h1>
<div class="level1">

<p>
Cette page peut vous aider à restaurer des pages après une attaque de spam. Pour trouver la liste des pages vandalisées, entrez un motif de recherche (p. ex. une <abbr title="Uniform Resource Locator">URL</abbr> de spam), puis confirmez que les pages trouvées contiennent du spam et annulez leurs éditions.
</p>

</div>
