
<h1 class="sectionedit1" id="dokuwiki">DokuWiki</h1>
<div class="level1">

<p>
<a href="http://www.splitbrain.org/projects/dokuwiki" class="urlextern" title="http://www.splitbrain.org/projects/dokuwiki"  rel="nofollow">Site du createur</a>
<a href="https://www.dokuwiki.org/dokuwiki" class="urlextern" title="https://www.dokuwiki.org/dokuwiki"  rel="nofollow">Documentation</a>
<a href="https://www.dokuwiki.org/fr:wiki:syntax" class="urlextern" title="https://www.dokuwiki.org/fr:wiki:syntax"  rel="nofollow">Syntaxe</a>
</p>

</div>
<!-- EDIT1 SECTION "DokuWiki" [1-196] -->
<h2 class="sectionedit2" id="balises">Balises</h2>
<div class="level2">

<p>

&lt;html&gt; &lt;code java&gt; &lt;nowiki&gt;

</p>

</div>
<!-- EDIT2 SECTION "Balises" [197-] -->