
<p>

<object width="480" height="780">
  <param name="movie" value="http://www.parleys.com/dist/share/parleysshare.swf"/>
  <param name="allowFullScreen" value="true"/>
  <param name="wmode" value="direct"/>
  <param name="bgcolor" value="#222222"/>
  <param name="flashVars" value="sv=true&amp;pageId=3345"/>
  <embed src="http://www.parleys.com/dist/share/parleysshare.swf" type="application/x-shockwave-flash" flashVars="sv=true&amp;pageId=3345" allowfullscreen="true" bgcolor="#222222" width="480" height="780"/>
</object>

</p>
