
<h1 class="sectionedit1" id="hello_documentation">Hello Documentation</h1>
<div class="level1">

<p>
Bienvenu sur la partie documentation de mon site web.
Ici, est stocké les données propres aux
</p>
<ul>
<li class="level1"><div class="li"> Applications développées</div>
</li>
<li class="level1"><div class="li"> Tutoriels, rappelles…</div>
</li>
<li class="level1"><div class="li"> Informations, news…</div>
</li>
</ul>

<p>
<code><em>(Le wiki appartient à <a href="http://www.splitbrain.org/projects/dokuwiki" class="urlextern" title="http://www.splitbrain.org/projects/dokuwiki"  rel="nofollow"> Andreas Gohr</a>)</em></code>
</p>
<hr />

</div>
<!-- EDIT1 SECTION "Hello Documentation" [1-371] -->
<h2 class="sectionedit2" id="site_web">Site web</h2>
<div class="level2">

<p>
<a href="http://gamerkitapplication.be" class="urlextern" title="http://gamerkitapplication.be"  rel="nofollow">Portfolio</a>
<a href="http://gamerkitapplication.be/mantis/bug_report_page.php" class="urlextern" title="http://gamerkitapplication.be/mantis/bug_report_page.php"  rel="nofollow">Bug tracker</a>
</p>

</div>
<!-- EDIT2 SECTION "Site web" [372-511] -->
<h2 class="sectionedit3" id="severs">Severs</h2>
<div class="level2">

<p>
TS3: 178.170.111.64
</p>
<hr />

</div>
<!-- EDIT3 SECTION "Severs" [512-612] -->
<h2 class="sectionedit4" id="ma_documentation">Ma documentation</h2>
<div class="level2">

</div>
<!-- EDIT4 SECTION "Ma documentation" [613-641] -->
<h3 class="sectionedit5" id="logiciels_et_sites_web">Logiciels et sites web</h3>
<div class="level3">

<p>
<a href="/documentation/doku.php?id=docs:mantis" class="wikilink1" title="docs:mantis">Mantis</a>
<a href="/documentation/doku.php?id=docs:dokuwiki" class="wikilink1" title="docs:dokuwiki">DokuWiki</a>
</p>

</div>
<!-- EDIT5 SECTION "Logiciels et sites web" [642-726] -->
<h3 class="sectionedit6" id="tutoriels">Tutoriels</h3>
<div class="level3">

<p>
<del><a href="/documentation/doku.php?id=tutoriels:be_a_tester" class="wikilink1" title="tutoriels:be_a_tester">Be a tester</a></del>
</p>

</div>
<!-- EDIT6 SECTION "Tutoriels" [727-797] -->
<h3 class="sectionedit7" id="video_games">Video games</h3>
<div class="level3">

<p>
<a href="/documentation/doku.php?id=games:donjondefender" class="wikilink1" title="games:donjondefender">Donjon Defender</a>
</p>

<p>
<a href="/documentation/doku.php?id=games:ftl" class="wikilink2" title="games:ftl" rel="nofollow">FTL: Fast then light</a>
</p>
<hr />

</div>
<!-- EDIT7 SECTION "Video games" [798-960] -->
<h2 class="sectionedit8" id="programmation">Programmation</h2>
<div class="level2">

</div>
<!-- EDIT8 SECTION "Programmation" [961-987] -->
<h3 class="sectionedit9" id="projects_library">Projects Library</h3>
<div class="level3">

<p>
<del><a href="/documentation/doku.php?id=developement:projets" class="wikilink1" title="developement:projets">Projets en développement</a></del>
</p>

</div>
<!-- EDIT9 SECTION "Projects Library" [988-1076] -->
<h3 class="sectionedit10" id="codes_library">Codes Library</h3>
<div class="level3">

<p>
<a href="/documentation/doku.php?id=programmation:manoeuvre" class="wikilink1" title="programmation:manoeuvre">Manoeuvre classique</a>
</p>

</div>
<!-- EDIT10 SECTION "Codes Library" [1077-1148] -->
<h3 class="sectionedit11" id="syntheses">Synthèses</h3>
<div class="level3">

<p>
<del><a href="/documentation/doku.php?id=programmation:java" class="wikilink2" title="programmation:java" rel="nofollow">Java</a></del>
<del><a href="/documentation/doku.php?id=programmation:android" class="wikilink2" title="programmation:android" rel="nofollow">Android</a></del>
<del><a href="/documentation/doku.php?id=programmation:c" class="wikilink2" title="programmation:c" rel="nofollow">c++</a></del>
</p>
<hr />

</div>
<!-- EDIT11 SECTION "Synthèses" [1149-1300] -->
<h2 class="sectionedit12" id="admin">Admin</h2>
<div class="level2">

<p>
<a href="/documentation/doku.php?id=admin:data" class="wikilink1" title="admin:data">Tavern</a>
</p>

</div>
<!-- EDIT12 SECTION "Admin" [1301-] -->