
<h1 class="sectionedit1" id="blackmantis">BlackMantis</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "BlackMantis" [1-28] -->
<h2 class="sectionedit2" id="uml">UML</h2>
<div class="level2">

</div>
<!-- EDIT2 SECTION "UML" [29-45] -->
<h2 class="sectionedit3" id="classes">Classes</h2>
<div class="level2">

</div>
<!-- EDIT3 SECTION "Classes" [46-65] -->
<h3 class="sectionedit4" id="data">Data</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <strong>MantisReport</strong>: Classe chargée de conserver les données sur un report</div>
</li>
<li class="level1"><div class="li"> <strong>Sujet</strong>: Classe chargée de conserver l&#039;idée d&#039;un sujet</div>
</li>
<li class="level1"><div class="li"> <strong>Module</strong> =Sujet + MantisReport: Classe chargée de lier le sujet des des bugs</div>
</li>
</ul>

</div>

<h4 id="tag_interface">Tag interface</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> <strong>ITask </strong>: la classe héritant de cette interface est une tâche de mantis</div>
</li>
<li class="level1"><div class="li"> <strong>IReport </strong>: la classe héritant de cette interface est une report de mantis</div>
</li>
<li class="level1"><div class="li"> <strong>ITest </strong>: la classe héritant de cette interface est une test définit dans mantis mais lié à un feature cucumber</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Data" [66-613] -->
<h3 class="sectionedit5" id="module">Module</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <strong>DokuWikiModule</strong>: classe chargées de lier un module de données Mantis à des informations wiki.</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Module" [614-735] -->
<h3 class="sectionedit6" id="environnement">Environnement</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <strong>DokuWiki_Data</strong></div>
</li>
<li class="level1"><div class="li"> <strong>Mantis_Data</strong></div>
</li>
<li class="level1"><div class="li"> <strong>BlackMantis_Data</strong></div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Environnement" [736-827] -->
<h3 class="sectionedit7" id="gestionnaire">Gestionnaire</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <strong>Commander</strong>: Classe qui possède toutes les fonctionnalités du programmes principales</div>
</li>
<li class="level1"><div class="li"> <strong>RequestValidity</strong>: Vérifie la validitée des requêtes</div>
</li>
<li class="level1"><div class="li"> <strong>RequestPreferenceControleur</strong>: Vérifie que la requête est valide avec les préférences de l&#039;utilisateur</div>
</li>
<li class="level1"><div class="li"> <strong>RequestListener</strong>: Ecoute les requêtes du programme</div>
</li>
<li class="level1"><div class="li"> <strong>RequestManager</strong>: Si écoutées, validées, conforme à l&#039;utilisateur et au règle du manager⇒ Submit</div>
</li>
<li class="level1"><div class="li"> <strong>RequestSubmitter</strong>: Submit fait appelle au fonction associées à la requête.</div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Gestionnaire" [828-1373] -->
<h3 class="sectionedit8" id="procedure">Procédure</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <strong>DataBlackBuilder</strong>: Chargé d&#039;instancier tout les objets du projet</div>
</li>
<li class="level1"><div class="li"> <strong>BlackBuilder</strong>: Chargé d&#039;instancier les composants logiciels</div>
</li>
</ul>

</div>
<!-- EDIT8 SECTION "Procédure" [1374-1536] -->
<h3 class="sectionedit9" id="in_out">In/Out</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <strong>Console</strong>: Gestion des in/out</div>
</li>
<li class="level1"><div class="li"> <strong>BlackMantisConsole</strong>: Gestion des l&#039;impression de toutes les classes du projet</div>
</li>
</ul>

</div>

<h4 id="in">in</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> <strong>ConsoleListener</strong>: lecture console</div>
</li>
</ul>

</div>

<h4 id="out">out</h4>
<div class="level4">
<ul>
<li class="level1"><div class="li"> <strong>ConsolePrinter</strong>: affichage console</div>
</li>
</ul>

</div>
<!-- EDIT9 SECTION "In/Out" [1537-] -->