
<p>

<p>
Chasseur: <br/>
<table width="100%">
<tr><td>Sort</td><td>Lvl</td><td>Nom</td><td>Mana</td><td>Unity</td></tr>
<tr><td>1</td><td>1</td><td> Piège mines de proximité</td><td> 40 </td><td> 3</td><tr>
<tr><td>2</td><td>2</td><td>Piège de gaz</td><td>30</td><td>3</td><tr>
<tr><td>3</td><td>7</td><td>Piège infernal</td><td>60</td><td>4</td</td><tr>><tr>
<tr><td>4</td><td>11</td><td>Pièges des ténèbres</td><td>70</td><td>3
<tr><td>5</td><td>15</td><td>Piège piques éhtérées</td><td>80</td><td>3</td><tr>
</table>
</p>
<p>
Mage:<br/>
<table width="100%">
<tr><td>Sort</td><td>Lvl</td><td>Nom</td><td>Mana</td><td>Unity</td></tr>
<tr><td>1</td><td>1</td><td>Tour missiles magiques</td><td>40</td><td>3</td><tr>
<tr><td>2</td><td>3</td><td>Blocus magique magiques</td><td>20</td><td>1 </td><tr>
<tr><td>3</td><td>7</td><td>Tour boules de feu</td><td>80</td><td>5</td><tr>
<tr><td>4</td><td>11</td><td>Tour eclairs</td><td>120</td><td>7</td><tr>
<tr><td>5</td><td>15</td><td>Tour rayon de la mort</td><td>150</td><td>8</td><tr>

</table>
</p>
Guerrier:<br/>
<table width="100%">
<tr><td>Sort</td><td>Lvl</td><td>Nom</td><td>Mana</td><td>Unity</td></tr>
<tr><td>1</td><td>1</td><td>Blocus de piques</td><td>30</td><td>3
<tr><td>2</td><td>3</td><td>Blocus videur</td><td>40</td><td>4
<tr><td>3</td><td>7</td><td>Tourelle harpon</td><td>80</td><td>6
<tr><td>4</td><td>11</td><td>Tour boule de bowling</td><td>100</td><td>7
<tr><td>5</td><td>15</td><td>Blocus coupe et pique</td><td>140</td><td>8


</table>
</p>
Monk:<br/>
<table width="100%">
<tr><td>Sort</td><td>Lvl</td><td>Nom</td><td>Mana</td><td>Unity</td></tr>
<tr><td>1</td><td>1</td><td>Aura piégée</td><td>30</td><td>3</td><tr>
<tr><td>2</td><td>3</td><td>Aura électrique</td><td>50</td><td>5</td><tr>
<tr><td>3</td><td>7</td><td>Aura soignante</td><td>40</td><td>4</td><tr>
<tr><td>4</td><td>11</td><td>Aura epuissante</td><td>60</td><td>5</td><tr>
<tr><td>5</td><td>15</td><td>Aura enragée</td><td>100</td><td>5</td><tr>

</table>
</p>
Shaco (joker):<br/>
<table width="100%">
<tr><td>Sort</td><td>Lvl</td><td>Nom</td><td>Mana</td><td>Unity</td></tr>
<tr><td>1</td><td>1</td><td>Small présent</td><td>40</td><td>2</td><tr>
<tr><td>2</td><td>10</td><td>Deluxe présent</td><td>80</td><td>3</td><tr>
<tr><td>3</td><td>20</td><td>Extravagant présent</td><td>120</td><td>4</td><tr>
</table>
</p>
<p>
Invocateur:<br/>
<table width="100%">
<tr><td>Sort</td><td>Lvl</td><td>Nom</td><td>Mana</td><td>Unity</td></tr>
<tr><td>1</td><td>1</td><td>Archer minion</td><td>40</td><td>4</td><tr>
<tr><td>2</td><td>5</td><td>Spider minion</td><td> 80</td><td>5</td><tr>
<tr><td>3</td><td>10</td><td>Orc minion</td><td>140</td><td>6</td><tr>
<tr><td>4</td><td>15</td><td>Mage minion</td><td>180</td><td>7</td><tr>
<tr><td>5</td><td>20</td><td>Warrior minion</td><td>300</td><td>8</td><tr>
<tr><td>6</td><td>30</td><td>Ogre minion</td><td>600</td><td>13</td><tr>
</table>
</p>

<p>
Serie EV:<br/>
<table width="100%">
<tr><td>Sort</td><td>Lvl</td><td>Nom</td><td>Mana</td><td>Unity</td></tr>
<tr><td>1</td><td>0</td><td>Proton beam</td><td>40</td><td>2-5</td></tr>
<tr><td>2</td><td>3</td><td>Physical beam</td><td>30</td><td>2-5</td></tr>
<tr><td>3</td><td>7</td><td>Reflection beam</td><td>20</td><td>1-3</td></tr>
<tr><td>4</td><td>15</td><td>Shock beam</td><td>55</td><td>2-6</td></tr>
<tr><td>5</td><td>20</td><td>Tower buff beam</td><td>70</td><td>4-6</td></tr>

</table>
</p>

</p>
