
<h4 id="aide_rapide">Aide rapide</h4>
<div class="level4">

<p>
Cette page vous permet d&#039;ajouter ou de supprimer des permissions pour les catégories et les pages de votre wiki. Le panneau de gauche liste toutes les catégories et les pages disponibles.
</p>

<p>
Le formulaire ci-dessus permet d&#039;afficher et de modifier les permissions d&#039;un utilisateur ou d&#039;un groupe sélectionné.
</p>

<p>
Dans le tableau ci-dessous, toutes les listes de contrôle d&#039;accès actuelles sont affichées. Vous pouvez l&#039;utiliser pour supprimer ou modifier rapidement plusieurs <abbr title="Access Control List">ACL</abbr>.
</p>

<p>
La lecture de <a href="http://www.dokuwiki.org/fr%3Aacl" class="interwiki iw_doku" title="http://www.dokuwiki.org/fr%3Aacl">la documentation officielle des ACL</a> pourra vous permettre de bien comprendre le fonctionnement du contrôle d&#039;accès dans DokuWiki.
</p>

</div>
