
<p>
En jeu:
</p>
<ol>
<li class="level1"><div class="li"> Tableau avec un résumé de ses unitées</div>
</li>
</ol>

<p>
En jeu +tab:
</p>
<ol>
<li class="level1"><div class="li"> Menu transparant avec les résumers de tout les unitées pour chaque joueur.</div>
</li>
</ol>
