
<h1 class="sectionedit1" id="procedure_d_installation_de_mantis_dokuwiki_leurs_plug-in_et_blackmantis">Procédure d&#039;installation de Mantis, DokuWiki, leurs plug-in et BlackMantis</h1>
<div class="level1">

<p>
BlackMantis est un logiciel Java que je veux développer qui permet de manager et d&#039;exporter la documentation sur les bugs d&#039;un jeu vidéo en développement.
</p>

</div>
<!-- EDIT1 SECTION "Procédure d'installation de Mantis, DokuWiki, leurs plug-in et BlackMantis" [1-251] -->
<h2 class="sectionedit2" id="preparation">Préparation</h2>
<div class="level2">

</div>
<!-- EDIT2 SECTION "Préparation" [252-275] -->
<h3 class="sectionedit3" id="connaissance">Connaissance</h3>
<div class="level3">

<p>
Langage: XHMTL, HTML5; <abbr title="Cascading Style Sheets">CSS</abbr> 2-3; <abbr title="Hypertext Preprocessor">PHP</abbr><br/>

Programme: <a href="/Service/Doku/doku.php?id=docs:mantis" class="wikilink1" title="docs:mantis">Mantis</a>, <a href="/Service/Doku/doku.php?id=docs:dokuwiki" class="wikilink1" title="docs:dokuwiki">DokuWiki</a>, WAMP (Apache, MySQL+phpMyAdmin, <abbr title="Hypertext Preprocessor">PHP</abbr>), NotePad++<br/>

</p>

</div>
<!-- EDIT3 SECTION "Connaissance" [276-451] -->
<h3 class="sectionedit4" id="ingrediants">Ingrédiants</h3>
<div class="level3">

<p>
Background:-:pour avoir un fond commun sur chaque “logiciel”<br/>

Adresse email: BlackMantis42@gmail.com : email commune pour toutes les applications et inscriptions<br/>

Nom compte: BlackMantis42 :<br/>

Mot passe: root1111: <br/>

</p>

</div>
<!-- EDIT4 SECTION "Ingrédiants" [452-695] -->
<h2 class="sectionedit5" id="steps_to_reproduce">Steps to reproduce</h2>
<div class="level2">

</div>
<!-- EDIT5 SECTION "Steps to reproduce" [696-727] -->
<h3 class="sectionedit6" id="a_identifiant">A. Identifiant</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> Si vous n&#039;avez pas d&#039;identifiant pour votre groupe, créer en vous un sur Google.</div>
</li>
</ol>

<p>
Nom compte:BlackMantis42@gmail.com<br/>

Mot passe: root1111<br/>

</p>

</div>
<!-- EDIT6 SECTION "A. Identifiant" [728-897] -->
<h3 class="sectionedit7" id="b_dossier_and_download">B. Dossier and download</h3>
<div class="level3">
<ol>
<li class="level1"><div class="li"> Créer un dossier ForTheInstall</div>
</li>
<li class="level1"><div class="li"> Téléchargez s&#039;y: <a href="http://www.wampserver.com/" class="urlextern" title="http://www.wampserver.com/"  rel="nofollow">WAMP</a>, <a href="http://www.mantisbt.org/download.php" class="urlextern" title="http://www.mantisbt.org/download.php"  rel="nofollow">Mantis</a>, <a href="http://www.splitbrain.org/projects/dokuwiki" class="urlextern" title="http://www.splitbrain.org/projects/dokuwiki"  rel="nofollow">DokuWiki</a>, (<a href="http://www.mantisbt.org/forums/viewtopic.php?f=4&amp;t=20126" class="urlextern" title="http://www.mantisbt.org/forums/viewtopic.php?f=4&amp;t=20126"  rel="nofollow">un thème Mantis</a>)</div>
</li>
<li class="level1"><div class="li"> Créer un dossier www pendant que vous téléchargez les modules nécessaires</div>
</li>
</ol>

</div>
<!-- EDIT7 SECTION "B. Dossier and download" [898-1297] -->
<h3 class="sectionedit8" id="c_wamp">C. WAMP</h3>
<div class="level3">

<p>
Installation classique.
</p>

<p>
<em>Personnellement je l&#039;installe sur mon répertoire Dropbox ce qui me permet de travailler sur mon pseudo site de où je veux.</em>
</p>

<p>
<strong>Astuce:</strong><br/>

Si votre serveur WAMP est installer et qu&#039;il ne veut pas tourner. Regarder si skype ou une autre application n&#039;utilise pas le même port: 80.<br/>

<em><strong>Résolution de la collision:</strong></em><br/>

1. Launch skype<br/>

2. Outils &gt; Option &gt; Avancés &gt; Connexion &gt; unCheck “Use the ports 80 et 443”.<br/>

3. Restart skype<br/>

4. Restart WAMP<br/>

5. Notice that now WAMP and SKYPE can run both.<br/>

</p>

</div>
<!-- EDIT8 SECTION "C. WAMP" [1298-1856] -->
<h3 class="sectionedit9" id="d_skelette">D. Skelette</h3>
<div class="level3">

<p>
Proposition de skelette
</p>
<blockquote><div class="no">
Service/Mantis/ ⇒ Installation de mantis<br/>
Service/Doku/ ⇒Installation de DokuWiki<br/>
Style/Main/Images ⇒ Images pour le style css par défaut<br/>
Style/Main/<abbr title="Cascading Style Sheets">CSS</abbr> ⇒ Pages de style css par défaut<br/>
Style/Mantis/Images ⇒ Images pour le style css de Mantis<br/>
Style/Mantis/<abbr title="Cascading Style Sheets">CSS</abbr> ⇒ Pages de style css de Mantis<br/>
Style/Doku/Images ⇒ Images pour le style css de Doku<br/>
Style/Doku/<abbr title="Cascading Style Sheets">CSS</abbr> ⇒ Pages de style css de Doky</div></blockquote>

</div>
<!-- EDIT9 SECTION "D. Skelette" [1857-2308] -->
<h3 class="sectionedit10" id="e_mantis">E. Mantis</h3>
<div class="level3">

<p>
Download: <a href="http://www.mantisbt.org/download.php" class="urlextern" title="http://www.mantisbt.org/download.php"  rel="nofollow">1</a>
</p>

</div>

<h4 id="install">Install</h4>
<div class="level4">
<ol>
<li class="level1"><div class="li"> UnZip la dernier version stable de Mantis dans Service/Mantis</div>
</li>
<li class="level1"><div class="li"> Go to <a href="http://localhost/Service/Mantis/admin/install.php" class="urlextern" title="http://localhost/Service/Mantis/admin/install.php"  rel="nofollow">http://localhost/Service/Mantis/admin/install.php</a></div>
</li>
<li class="level1"><div class="li"> BD: MySQL - Host:localhost</div>
</li>
<li class="level1"><div class="li"> Par défaut, WAMP installer MySQL avec user:“root” et mdp: ”-”</div>
</li>
<li class="level1"><div class="li"> user: “root” - mdp:””  ⇒ pour installer les tables de la BD</div>
</li>
<li class="level1"><div class="li"> user: “root” - mdp:”” ⇒ pour installer dans la BD</div>
</li>
</ol>

<p>
Voilà Mantis est installer sur votre serveur local WAMP.
<em>NB: Il vaudrait mieux que vous changiez les mdp de votre BD MySQL.</em>
</p>

</div>

<h4 id="warningyou_should_disable_the_default_administrator_account_or_change_its_password">Warning: You should disable the default &#039;administrator&#039; account or change its password.</h4>
<div class="level4">

<p>
Par défaut, Mantis créer un administrateur nommé “administrator” avec les mot de passe “root”.
</p>

<p>
Je vous conseille de changer cela:
1. Log-in in Mantis with administrator (pwd:root)
2. MANAGE &gt; MANAGE USERS &gt; Select administrator
3. Complete<br/>

Username: BlackMantis42<br/>

Real Name: Eloi Strée<br/>

E-mail: BlackMantis42@gmail.com<br/>

Access Level: administrator <br/>

</p>

<p>
Et voilà, vous êtes le seul administrateur de Mantis pour l&#039;instant.
</p>

</div>

<h4 id="warningadmin_directory_should_be_removed">Warning: Admin directory should be removed.</h4>
<div class="level4">

<p>
Une fois l&#039;étape d&#039;avoir créer son compte administrateur remplie, vous pouvez supprimer le dossier entier: \wamp\www\Service\Mantis\admin.<br/>

Cela évitera des personnes de venir corrompre votre service.
</p>

</div>
<!-- EDIT10 SECTION "E. Mantis" [2309-3725] -->
<h3 class="sectionedit11" id="f_dokuwiki">F. DokuWiki</h3>
<div class="level3">

<p>
Download: <a href="http://www.splitbrain.org/projects/dokuwiki" class="urlextern" title="http://www.splitbrain.org/projects/dokuwiki"  rel="nofollow">1</a>
</p>

<p>
<a href="http://localhost/Service/Doku/install.php" class="urlextern" title="http://localhost/Service/Doku/install.php"  rel="nofollow">http://localhost/Service/Doku/install.php</a><br/>

Language: FR<br/>

Wiki Name: BlackMantis<br/>

Super User: BlackMantis42<br/>

Real Name: Strée Eloi<br/>

Email: BlackMantis42@gmail.com<br/>

Password: root1111<br/>

<abbr title="Access Control List">ACL</abbr>: Public wiki<br/>

Licence: None<br/>

</p>

<p>
Voilà DokuWiki est installé.
</p>

<p>
Maintenant vous pouvez changer ceci:<br/>

</p>
<blockquote><div class="no">
 Administer &gt; Paramètres de configuration<br/>
</div></blockquote>

<p>
Interface language: FR<br/>

Date format :%d/%m/%Y %H:%M<br/>

Allow embedded <abbr title="HyperText Markup Language">HTML</abbr>: Check<br/>

</p>

</div>
<!-- EDIT11 SECTION "F. DokuWiki" [3726-4237] -->
<h3 class="sectionedit12" id="g_customiser">G. Customiser</h3>
<div class="level3">

<p>
Manuel: <a href="http://www.mantisbt.org/manual/index.php" class="urlextern" title="http://www.mantisbt.org/manual/index.php"  rel="nofollow">Mantis</a>, <a href="https://www.dokuwiki.org/fr:manual" class="urlextern" title="https://www.dokuwiki.org/fr:manual"  rel="nofollow">DokuWiki</a><br/>

</p>

<p>
Personnellement, il y a plein de petit détailles qui me dérange:<br/>

</p>
<ol>
<li class="level1"><div class="li"> L&#039;interface peu amical de Mantis</div>
</li>
<li class="level1"><div class="li"> L&#039;interface blanc de Doku</div>
</li>
<li class="level1"><div class="li"> Des détailles à régler sur Mantis</div>
</li>
<li class="level1"><div class="li"> …</div>
</li>
</ol>

<p>
Je vais donc vous montrer ce que vous pouvez y faire.
</p>

</div>

<h4 id="i_download">I. Download</h4>
<div class="level4">

<p>
My files: <a href="http://gamerkitapplication.be/documentation/lib/exe/fetch.php?media=style.zip" class="urlextern" title="http://gamerkitapplication.be/documentation/lib/exe/fetch.php?media=style.zip"  rel="nofollow">style.zip</a>, <a href="http://gamerkitapplication.be/documentation/lib/exe/fetch.php?media=mantisConfig.zip" class="urlextern" title="http://gamerkitapplication.be/documentation/lib/exe/fetch.php?media=mantisConfig.zip"  rel="nofollow">mantisConfig.zip</a><br/>

</p>

<p>
1. Unzip contant of style.zip in WAMP &gt; www<br/>

</p>

</div>

<h4 id="ii_mantis">II. Mantis</h4>
<div class="level4">

<p>
2. Unzip contant of mantisConfig.zip in WAMP &gt; www &gt; Service &gt; Mantis<br/>

3. Relace …. in …. by …. in ….
</p>

</div>

<h4 id="iii_dokuwiki">III. DokuWiki</h4>
<div class="level4">

<p>
4. Relace …. in …. by …. in ….
</p>

</div>
<!-- EDIT12 SECTION "G. Customiser" [4238-] -->