
<h1 class="sectionedit1" id="dokuwiki">DokuWiki</h1>
<div class="level1">

<p>
<a href="http://www.dokuwiki.org/wiki%3Adokuwiki" class="media" title="http://www.dokuwiki.org/wiki%3Adokuwiki"><img src="/documentation/lib/exe/fetch.php?media=wiki:dokuwiki-128.png" class="medialeft" alt="" /></a> DokuWiki is a standards compliant, simple to use <a href="http://en.wikipedia.org/wiki/Wiki" class="interwiki iw_wp" title="http://en.wikipedia.org/wiki/Wiki">Wiki</a>, mainly aimed at creating documentation of any kind. It is targeted at developer teams, workgroups and small companies. It has a simple but powerful <a href="/documentation/doku.php?id=wiki:syntax" class="wikilink1" title="wiki:syntax">syntax</a> which makes sure the datafiles remain readable outside the Wiki and eases the creation of structured texts. All data is stored in plain text files – no database is required.
</p>

<p>
Read the <a href="http://www.dokuwiki.org/manual" class="interwiki iw_doku" title="http://www.dokuwiki.org/manual">DokuWiki Manual</a> to unleash the full power of DokuWiki.
</p>

</div>
<!-- EDIT1 SECTION "DokuWiki" [1-557] -->
<h2 class="sectionedit2" id="download">Download</h2>
<div class="level2">

<p>
DokuWiki is available at <a href="http://www.splitbrain.org/go/dokuwiki" class="urlextern" title="http://www.splitbrain.org/go/dokuwiki"  rel="nofollow">http://www.splitbrain.org/go/dokuwiki</a>
</p>

</div>
<!-- EDIT2 SECTION "Download" [558-644] -->
<h2 class="sectionedit3" id="read_more">Read More</h2>
<div class="level2">

<p>
All documentation and additional information besides the <a href="/documentation/doku.php?id=wiki:syntax" class="wikilink1" title="wiki:syntax">syntax description</a> is maintained in the DokuWiki at <a href="http://www.dokuwiki.org/" class="interwiki iw_doku" title="http://www.dokuwiki.org/">www.dokuwiki.org</a>.
</p>

<p>
<strong>About DokuWiki</strong>
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/features" class="interwiki iw_doku" title="http://www.dokuwiki.org/features">A feature list</a> <img src="/documentation/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/users" class="interwiki iw_doku" title="http://www.dokuwiki.org/users">Happy Users</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/press" class="interwiki iw_doku" title="http://www.dokuwiki.org/press">Who wrote about it</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/blogroll" class="interwiki iw_doku" title="http://www.dokuwiki.org/blogroll">What Bloggers think</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.wikimatrix.org/show/DokuWiki" class="urlextern" title="http://www.wikimatrix.org/show/DokuWiki"  rel="nofollow">Compare it with other wiki software</a></div>
</li>
</ul>

<p>
<strong>Installing DokuWiki</strong>
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/requirements" class="interwiki iw_doku" title="http://www.dokuwiki.org/requirements">System Requirements</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.splitbrain.org/go/dokuwiki" class="urlextern" title="http://www.splitbrain.org/go/dokuwiki"  rel="nofollow">Download DokuWiki</a> <img src="/documentation/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/changes" class="interwiki iw_doku" title="http://www.dokuwiki.org/changes">Change Log</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/Install" class="interwiki iw_doku" title="http://www.dokuwiki.org/Install">How to install or upgrade</a> <img src="/documentation/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/config" class="interwiki iw_doku" title="http://www.dokuwiki.org/config">Configuration</a></div>
</li>
</ul>

<p>
<strong>Using DokuWiki</strong>
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/syntax" class="interwiki iw_doku" title="http://www.dokuwiki.org/syntax">Wiki Syntax</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/manual" class="interwiki iw_doku" title="http://www.dokuwiki.org/manual">The manual</a> <img src="/documentation/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/FAQ" class="interwiki iw_doku" title="http://www.dokuwiki.org/FAQ">Frequently Asked Questions (FAQ)</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/glossary" class="interwiki iw_doku" title="http://www.dokuwiki.org/glossary">Glossary</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://search.dokuwiki.org" class="urlextern" title="http://search.dokuwiki.org"  rel="nofollow">Search for DokuWiki help and documentation</a></div>
</li>
</ul>

<p>
<strong>Customizing DokuWiki</strong>
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/tips" class="interwiki iw_doku" title="http://www.dokuwiki.org/tips">Tips and Tricks</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/Template" class="interwiki iw_doku" title="http://www.dokuwiki.org/Template">How to create and use templates</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/plugins" class="interwiki iw_doku" title="http://www.dokuwiki.org/plugins">Installing plugins</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/development" class="interwiki iw_doku" title="http://www.dokuwiki.org/development">Development Resources</a></div>
</li>
</ul>

<p>
<strong>DokuWiki Feedback and Community</strong>
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/newsletter" class="interwiki iw_doku" title="http://www.dokuwiki.org/newsletter">Subscribe to the newsletter</a> <img src="/documentation/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/mailinglist" class="interwiki iw_doku" title="http://www.dokuwiki.org/mailinglist">Join the mailing list</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://forum.dokuwiki.org" class="urlextern" title="http://forum.dokuwiki.org"  rel="nofollow">Check out the user forum</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/irc" class="interwiki iw_doku" title="http://www.dokuwiki.org/irc">Talk to other users in the IRC channel</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://bugs.splitbrain.org/index.php?project=1" class="urlextern" title="http://bugs.splitbrain.org/index.php?project=1"  rel="nofollow">Submit bugs and feature wishes</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.wikimatrix.org/forum/viewforum.php?id=10" class="urlextern" title="http://www.wikimatrix.org/forum/viewforum.php?id=10"  rel="nofollow">Share your experiences in the WikiMatrix forum</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.dokuwiki.org/thanks" class="interwiki iw_doku" title="http://www.dokuwiki.org/thanks">Some humble thanks</a></div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Read More" [645-2268] -->
<h2 class="sectionedit4" id="copyright">Copyright</h2>
<div class="level2">

<p>
2004-2010 © Andreas Gohr <a href="mailto:&#x61;&#x6e;&#x64;&#x69;&#x40;&#x73;&#x70;&#x6c;&#x69;&#x74;&#x62;&#x72;&#x61;&#x69;&#x6e;&#x2e;&#x6f;&#x72;&#x67;" class="mail" title="&#x61;&#x6e;&#x64;&#x69;&#x40;&#x73;&#x70;&#x6c;&#x69;&#x74;&#x62;&#x72;&#x61;&#x69;&#x6e;&#x2e;&#x6f;&#x72;&#x67;">&#x61;&#x6e;&#x64;&#x69;&#x40;&#x73;&#x70;&#x6c;&#x69;&#x74;&#x62;&#x72;&#x61;&#x69;&#x6e;&#x2e;&#x6f;&#x72;&#x67;</a><sup><a href="#fn__1" id="fnt__1" class="fn_top">1)</a></sup> and the DokuWiki Community
</p>

<p>
The DokuWiki engine is licensed under <a href="http://www.gnu.org/licenses/gpl.html" class="urlextern" title="http://www.gnu.org/licenses/gpl.html"  rel="nofollow">GNU General Public License</a> Version 2. If you use DokuWiki in your company, consider <a href="http://www.dokuwiki.org/donate" class="interwiki iw_doku" title="http://www.dokuwiki.org/donate">donating</a> a few bucks <img src="/documentation/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)" />.
</p>

<p>
Not sure what this means? See the <a href="http://www.dokuwiki.org/faq%3Alicense" class="interwiki iw_doku" title="http://www.dokuwiki.org/faq%3Alicense">FAQ on the Licenses</a>.
</p>

</div>
<!-- EDIT4 SECTION "Copyright" [2269-] --><div class="footnotes">
<div class="fn"><sup><a href="#fnt__1" id="fn__1" class="fn_bot">1)</a></sup> 
Please do not contact me for help and support – use the <a href="http://www.dokuwiki.org/mailinglist" class="interwiki iw_doku" title="http://www.dokuwiki.org/mailinglist">mailinglist</a> or <a href="http://forum.dokuwiki.org" class="urlextern" title="http://forum.dokuwiki.org"  rel="nofollow">forum</a> instead</div>
</div>
