
<h1 class="sectionedit1" id="tuxdomination">TuxDomination</h1>
<div class="level1">

</div>
<!-- EDIT1 SECTION "TuxDomination" [1-29] -->
<h2 class="sectionedit2" id="logic_architecture">Logic Architecture</h2>
<div class="level2">

</div>
<!-- EDIT2 SECTION "Logic Architecture" [30-61] -->
<h3 class="sectionedit3" id="map">Map</h3>
<div class="level3">

<p>
You can customise your map as soon as that does respect the game condition.<br/>

More information about Maps: <a href="/Service/Doku/doku.php?id=study:tuxdomination:maps" class="wikilink2" title="study:tuxdomination:maps" rel="nofollow">=&gt;</a>
</p>

</div>
<!-- EDIT3 SECTION "Map" [62-216] -->
<h3 class="sectionedit4" id="gamer">Gamer</h3>
<div class="level3">

<p>
The game can have:
</p>
<ol>
<li class="level1"><div class="li"> Level</div>
</li>
<li class="level1"><div class="li"> customise armies</div>
</li>
<li class="level1"><div class="li"> his map edited</div>
</li>
</ol>

</div>

<h4 id="army">Army</h4>
<div class="level4">

</div>

<h4 id="unities">Unities</h4>
<div class="level4">

</div>

<h4 id="powers_abilities">Powers/Abilities</h4>
<div class="level4">

</div>
<!-- EDIT4 SECTION "Gamer" [217-362] -->
<h2 class="sectionedit5" id="game_architecture">Game Architecture</h2>
<div class="level2">

</div>
<!-- EDIT5 SECTION "Game Architecture" [363-] -->