
<h1 class="sectionedit1" id="etat_d_avancement_des_projets">Etat d&#039;avancement des projets</h1>
<div class="level1">

<p>
Voici tous les reports à traiter sur les différents projets.
</p>
<hr />

</div>
<!-- EDIT1 SECTION "Etat d'avancement des projets" [1-112] -->
<h2 class="sectionedit2" id="site_s_web_s_officiel_s">Site(s) web(s) officiel(s)</h2>
<div class="level2">

</div>

<h4 id="gamer_kit_application">Gamer Kit Application</h4>
<div class="level4">

<p>
Portfolio d&#039;Eloi
<h1>Project: Gamer Kit Application (6) - Issues: 3</h1><table class="inline" style="width:100%;"><tr class="row0"><th class="col0">Summary</th><th class="col1">Reporter</th><th class="col2">Description</th></tr><tr class="row1"><td class="col0">A: Task: Update my CV</td><td class="col1">VgQD</td><td class="col2">Update my CV on LinkedIn, GamerKitApplication</td></tr><tr class="row2"><td class="col0">A: Task: A user of Mantis can link easily a DokuWiki page and vise versa.</td><td class="col1">VgQD</td><td class="col2">Understand and install the plug-in on Mantis and DokuWiki to be able to link each other easily. Make a summery for the next time I will have to install it.<br />
Use it.</td></tr><tr class="row3"><td class="col0">C: Task: Replace the souce link of how repart the captcha by a resume.</td><td class="col1">VgQD</td><td class="col2">The visitor arrived on the site looking how to fixed the captach. Read the summary. Execute the French step to reproduce. Leave the site happy.</td></tr></table>
</p>
<hr />

</div>
<!-- EDIT2 SECTION "Site(s) web(s) officiel(s)" [113-236] -->
<h2 class="sectionedit3" id="logiciels">Logiciels</h2>
<div class="level2">

</div>

<h4 id="blackmantis">BlackMantis</h4>
<div class="level4">

<p>
Logiciel d&#039;édition de documentation de bugs.
<div class="redbox" style="text-align: left; border: 1px solid #BB8C8C; background-color: #ECDEDE; padding: 7px 10px; margin: 10px 0;">No issues were found!</div>
</p>
<hr />

</div>

<h4 id="demineur">Demineur</h4>
<div class="level4">

<p>
Jeu vidéo de type arcade.
<div class="redbox" style="text-align: left; border: 1px solid #BB8C8C; background-color: #ECDEDE; padding: 7px 10px; margin: 10px 0;">No issues were found!</div>
</p>
<hr />

</div>

<h4 id="tuxdomination">TuxDomination</h4>
<div class="level4">

<p>
Jeu vidéo de Baptiste
<div class="redbox" style="text-align: left; border: 1px solid #BB8C8C; background-color: #ECDEDE; padding: 7px 10px; margin: 10px 0;">No issues were found!</div>
</p>
<hr />

</div>
<!-- EDIT3 SECTION "Logiciels" [237-496] -->
<h2 class="sectionedit4" id="documentation">Documentation</h2>
<div class="level2">

</div>

<h4 id="wikidoc">WikiDoc</h4>
<div class="level4">

<p>
Avancement du wiki
<h1>Project: WikiDoc (7) - Issues: 3</h1><table class="inline" style="width:100%;"><tr class="row0"><th class="col0">Summary</th><th class="col1">Reporter</th><th class="col2">Description</th></tr><tr class="row1"><td class="col0">A: Interface / Menus: The media  manager window  have not background color=> Text unreadable</td><td class="col1">VgQD</td><td class="col2">Lazy</td></tr><tr class="row2"><td class="col0">A: Task: Make a resume of what I learn of testing wiht Fishing Cactus</td><td class="col1">VgQD</td><td class="col2">The task to do is to write a guide of what I learned and how to be a tester. The text does not have to speak about me, but about the job and the tips.</td></tr><tr class="row3"><td class="col0">C: Task: Learn how Cucumber and Calabash works in aim to make a tutorial and to use it.</td><td class="col1">VgQD</td><td class="col2">Cucumber is a way of write a bug with understanding sentence. This sentence have a little of structure, but are seem at humain language.<br />
<br />
Calash is a auto-testing tool how provides a way to test android/ios application based on Cucumber description.<br />
<br />
I want to learn how it work and make a documentation.<br />
May be a quick tutorial.</td></tr></table>
</p>
<hr />

</div>

<h4 id="mantis">Mantis</h4>
<div class="level4">

<p>
Développement à faire sur le mantis du site web
<h1>Project: Mantis (5) - Issues: 4</h1><table class="inline" style="width:100%;"><tr class="row0"><th class="col0">Summary</th><th class="col1">Reporter</th><th class="col2">Description</th></tr><tr class="row1"><td class="col0">A: Task: Do a resume for the main page that explain quickly and efficency the tester rules.</td><td class="col1">VgQD</td><td class="col2">Do a resume for the main page that explain quickly and efficiency the tester rules. When it is done, rename it to "Be a good tester", "Introduction" or something like that.</td></tr><tr class="row2"><td class="col0">A: Task: Set some part of mantis public (vue, report).</td><td class="col1">VgQD</td><td class="col2">I want to change the interface of Mantis. It has to be half public(guest) to have feed back of novice user how want to help us.</td></tr><tr class="row3"><td class="col0">A: Task: Customize, the MAIN menu of Mantis.</td><td class="col1">VgQD</td><td class="col2">Not define yet</td></tr><tr class="row4"><td class="col0">A: Task: Linked Mantis with the DokuWiki on gamerkitapplication.</td><td class="col1">VgQD</td><td class="col2">It should be useful to be able to linked a bug with the documentation attached to.<br />
A plug-in exist in this aim.<br />
<br />
The task is to install the plug-in and observe the possibility of working with it.</td></tr></table>
</p>
<hr />

</div>
<!-- EDIT4 SECTION "Documentation" [497-] -->