/**
 * Basic screen and print styles. These styles are needed for basic DokuWiki functions
 * regardless of the used template. Templates can override them of course
 */
/***My code start**/
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;

background-position:center;
background-position:top;
background-color:#000;
background-image:url(/Style/Main/backGround.jpg);
background-repeat:no-repeat;
background-attachment:fixed;

}

div#media__manager { 

background-color:white;
width="80%"; height="auto";

 border-radius: 10px;
-moz-opacity:0.5;
opacity: 0.5;
filter:alpha(opacity=50);

}
div#dokuwiki__sitetools ul li a.index
{
font-family:  FreeSans,  'Liberation Sans', 'Helvetica Arial', sans-serif;
font-size:larger;
color:#BFB;
}
div#dokuwiki__header div.pad div.headings h1 a span{color:#0F0; font-size:2em;}
div#dokuwiki__header { 
background-color:#000;
border: 1px solid #000;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 0.5em #999999;
color: green;
font-weight:bold;
opacity: 0.8;

}

div#dokuwiki__header a:active ,div#dokuwiki__header a:link,div#dokuwiki__header a:visited{ color:#3F3; }
div#dokuwiki__header a:hover{ color:#AFA; }
 div#qsearch__out a:active, 
 div#qsearch__out a:link, 
 div#qsearch__out a:visited, 
 div#qsearch__out a:hover {color:black;}
div.headings h1 span {color: green; }
div#dokuwiki__header trace { border:none;}
/***My code end**/

div.clearer {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

/* one of the many clearfix versions */
.group {
    display: inline-block;
}
.group {
    display: block;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}

div.no {
    display: inline;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* image alignment */
.medialeft {
    float: left;
}
.mediaright {
    float: right;
}
.mediacenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* table cell alignment */
.leftalign   { text-align: left;   }
.centeralign { text-align: center; }
.rightalign  { text-align: right;  }

/* underline */
em.u {
    font-style: normal;
    text-decoration: underline;
}
em em.u {
    font-style: italic;
}
