
<h1 class="sectionedit1" id="mantis">Mantis</h1>
<div class="level1">

<p>
<a href="http://www.mantisbt.org/manual/index.php" class="urlextern" title="http://www.mantisbt.org/manual/index.php"  rel="nofollow">Manuel</a>
</p>

</div>
