
<h1 class="sectionedit1" id="hello_documentation">Hello Documentation</h1>
<div class="level1">

<p>
Bienvenu sur la partie documentation de mon site web.
Ici, est stocké les données propres aux
</p>
<ul>
<li class="level1"><div class="li"> Applications développées</div>
</li>
<li class="level1"><div class="li"> Tutoriels, rappelles…</div>
</li>
<li class="level1"><div class="li"> Informations, news…</div>
</li>
</ul>

<p>
<em>Ce wiki est en développement et est à l&#039;état de brouillon, je ne garantis pas encore la qualité, la structure ou l&#039;orthographe, mais je  travaillerai dans le but d&#039;avoir un version correct pour la fin Janvier.<br/>

</em><code><em>(J&#039;utilise DokuWiki qui appartient à <a href="http://www.splitbrain.org/projects/dokuwiki" class="urlextern" title="http://www.splitbrain.org/projects/dokuwiki"  rel="nofollow"> Andreas Gohr</a>)</em></code><br/>

</p>

<p>
<em>Si malgré ça vous désirez accéder à ma documentation, contactez-moi: streeeloi@gmail.com.</em>
</p>
<hr />

</div>
<!-- EDIT1 SECTION "Hello Documentation" [1-711] -->
<h2 class="sectionedit2" id="site_web">Site web</h2>
<div class="level2">

<p>
<a href="http://gamerkitapplication.be" class="urlextern" title="http://gamerkitapplication.be"  rel="nofollow">Portfolio</a>
<a href="http://gamerkitapplication.be/mantis/bug_report_page.php" class="urlextern" title="http://gamerkitapplication.be/mantis/bug_report_page.php"  rel="nofollow">Bug tracker</a>
</p>

</div>
<!-- EDIT2 SECTION "Site web" [712-851] -->
<h2 class="sectionedit3" id="severs">Severs</h2>
<div class="level2">

<p>
TS3: 178.170.111.64
</p>
<hr />

</div>
<!-- EDIT3 SECTION "Severs" [852-952] -->
<h2 class="sectionedit4" id="ma_documentation">Ma documentation</h2>
<div class="level2">

</div>
<!-- EDIT4 SECTION "Ma documentation" [953-981] -->
<h3 class="sectionedit5" id="logiciels_et_sites_web">Logiciels et sites web</h3>
<div class="level3">

<p>
<a href="/Service/Doku/doku.php?id=docs:mantis" class="wikilink1" title="docs:mantis">Mantis</a>
<a href="/Service/Doku/doku.php?id=docs:dokuwiki" class="wikilink1" title="docs:dokuwiki">DokuWiki</a>
</p>

</div>
<!-- EDIT5 SECTION "Logiciels et sites web" [982-1066] -->
<h3 class="sectionedit6" id="tutoriels">Tutoriels</h3>
<div class="level3">

<p>
<del><a href="/Service/Doku/doku.php?id=tutoriels:be_a_tester" class="wikilink1" title="tutoriels:be_a_tester">Be a tester</a></del>
</p>

</div>
<!-- EDIT6 SECTION "Tutoriels" [1067-1137] -->
<h3 class="sectionedit7" id="video_games">Video games</h3>
<div class="level3">

<p>
<a href="/Service/Doku/doku.php?id=games:donjondefender" class="wikilink1" title="games:donjondefender">Donjon Defender</a>
</p>

<p>
<a href="/Service/Doku/doku.php?id=games:ftl" class="wikilink1" title="games:ftl">FTL: Fast then light</a>
</p>
<hr />

</div>
<!-- EDIT7 SECTION "Video games" [1138-1300] -->
<h2 class="sectionedit8" id="programmation">Programmation</h2>
<div class="level2">

</div>
<!-- EDIT8 SECTION "Programmation" [1301-1327] -->
<h3 class="sectionedit9" id="projects_library">Projects Library</h3>
<div class="level3">

<p>
<del><a href="/Service/Doku/doku.php?id=developement:projets" class="wikilink1" title="developement:projets">Projets en développement</a></del>
</p>

</div>
<!-- EDIT9 SECTION "Projects Library" [1328-1416] -->
<h3 class="sectionedit10" id="codes_library">Codes Library</h3>
<div class="level3">

<p>
<a href="/Service/Doku/doku.php?id=programmation:manoeuvre" class="wikilink1" title="programmation:manoeuvre">Manoeuvre classique</a>
</p>

</div>
<!-- EDIT10 SECTION "Codes Library" [1417-1488] -->
<h3 class="sectionedit11" id="syntheses">Synthèses</h3>
<div class="level3">

<p>
<del><a href="/Service/Doku/doku.php?id=programmation:java" class="wikilink2" title="programmation:java" rel="nofollow">Java</a></del>
<del><a href="/Service/Doku/doku.php?id=programmation:android" class="wikilink2" title="programmation:android" rel="nofollow">Android</a></del>
<del><a href="/Service/Doku/doku.php?id=programmation:c" class="wikilink2" title="programmation:c" rel="nofollow">c++</a></del>
</p>
<hr />

</div>
<!-- EDIT11 SECTION "Synthèses" [1489-1638] -->
<h2 class="sectionedit12" id="recherche">Recherche</h2>
<div class="level2">

</div>
<!-- EDIT12 SECTION "Recherche" [1639-1659] -->
<h3 class="sectionedit13" id="testing">Testing</h3>
<div class="level3">

<p>
<del><a href="/Service/Doku/doku.php?id=study:tdd" class="wikilink1" title="study:tdd">TDD</a></del> <del><a href="/Service/Doku/doku.php?id=study:bdd" class="wikilink2" title="study:bdd" rel="nofollow">BDD</a></del><del> <a href="/Service/Doku/doku.php?id=study:scrum" class="wikilink2" title="study:scrum" rel="nofollow">SCRUM</a></del>
</p>

<p>
<del><a href="/Service/Doku/doku.php?id=study:cucumber" class="wikilink1" title="study:cucumber">Cucumber</a></del> <del><a href="/Service/Doku/doku.php?id=study:calabash" class="wikilink1" title="study:calabash">Calabash</a></del>
</p>

</div>
<!-- EDIT13 SECTION "Testing" [1660-1847] -->
<h3 class="sectionedit14" id="mantis_dokuwiki_tdd">Mantis/DokuWiki/TDD</h3>
<div class="level3">

<p>
<del><a href="/Service/Doku/doku.php?id=study:linkmantisdokuwikitdd" class="wikilink1" title="study:linkmantisdokuwikitdd">Comment lier l&#039;ensemble</a></del>
</p>

</div>
<!-- EDIT14 SECTION "Mantis/DokuWiki/TDD" [1848-1946] -->
<h3 class="sectionedit15" id="soup_de_mots">Soup de mots</h3>
<div class="level3">

<p>
<a href="/Service/Doku/doku.php?id=study:soup:culture" class="wikilink1" title="study:soup:culture">Culture</a><br/>

<a href="/Service/Doku/doku.php?id=study:soup:loisir" class="wikilink2" title="study:soup:loisir" rel="nofollow">Loisir</a>
</p>
<hr />

</div>
<!-- EDIT15 SECTION "Soup de mots" [1947-2035] -->
<h2 class="sectionedit16" id="media">Média</h2>
<div class="level2">

<p>
<a href="/Service/Doku/doku.php?id=media:videos" class="wikilink1" title="media:videos">Vidéos</a><br/>

</p>
<hr />

</div>
<!-- EDIT16 SECTION "Média" [2036-2090] -->
<h2 class="sectionedit17" id="admin">Admin</h2>
<div class="level2">

<p>
<a href="/Service/Doku/doku.php?id=admin:data" class="wikilink1" title="admin:data">Tavern</a><br/>

<a href="/Service/Doku/doku.php?id=admin:projets" class="wikilink1" title="admin:projets">Etat d&#039;avancement</a><br/>

<a href="/Service/Doku/doku.php?id=admin:casiers" class="wikilink1" title="admin:casiers">Casiers</a>
</p>

</div>
<!-- EDIT17 SECTION "Admin" [2091-] -->