
<h1 class="sectionedit1" id="s_enregistrer_comme_nouvel_utilisateur">S&#039;enregistrer comme nouvel utilisateur</h1>
<div class="level1">

<p>
Remplissez toutes les informations ci-dessous pour vous créer un compte sur ce Wiki. Assurez-vous de fournir une <strong>adresse de courriel valide</strong> car votre mot de passe sera envoyé à cette adresse. Le nom d&#039;utilisateur doit être un <a href="http://www.dokuwiki.org/pagename" class="interwiki iw_doku" title="http://www.dokuwiki.org/pagename">nom de page</a> valide.
</p>

</div>
